#CreatePointForm
	position: absolute
	z-index: 53
	top: 30%
	left: 0
	width: 100%
	padding-left: 20%
	padding-right: 20%
	ro-yes-no-toggle
		float: left
	#PointConditionsContainer
		padding: 20px
		border-radius: 10px
		background-color: #d1d5d8
		margin-bottom: 4px
	#PointTypeString
		color: #ddd
		font-size: 2em
		font-weight: 200
		margin-left: 10px
	textarea
		line-height: 25px !important
		font-size: 20px !important
		#WhyPointInput
			background-color: #d1d5d8
	#PostPointBtn
		margin: 5px
		float: right