<button class="btn btn-default ModalClose" (click)="onCancel()">
    Close
</button>
<form id="CreatePointForm" (ngSubmit)="createPoint()">
    <label for="WhyPointInput">
        <ro-yes-no-toggle [selection]="selectedType"></ro-yes-no-toggle><span id="PointTypeString"> {{200 - newPoint.title.length}}/200</span>
    </label>
    <textarea
        id="WhyPointInput"
        name="main-point-detail"
        class="form-control"
        rows="6"
        style="resize: none;"
        minlength="10"
        maxlength="200"
        placeholder="because, (What is your argument?)"
        [(ngModel)]="newPoint.title"
        required
        >
    </textarea>
    <button id="PostPointBtn" type="submit" class="btn btn-sm btn-success">
        Post point
    </button>
</form>
