html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* Chrome, Safari, Opera */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* Standard syntax */
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes popIn {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
  70% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
/* @import "forms";
@import "layout";
@import "lists";
@import "media";
@import "tables";
@import "typography"; */
#MobileAlert {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: black; }
  #MobileAlert #Content {
    -webkit-animation: fadeIn 2s;
    /* Chrome, Safari, Opera */
    animation: fadeIn 2s;
    position: fixed;
    z-index: 101;
    background-color: #fff;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 200;
    text-align: center;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 5px;
    width: 800px;
    max-width: 95%; }

.ro-action-bar {
  display: block;
  padding: 10px; }
  .ro-action-bar .ro-inline-items {
    display: inline-block; }
    .ro-action-bar .ro-inline-items .ro-action-bar-item {
      display: inherit; }

/* .ro-nav
 * // margin-bottom: 0
 * // padding-left: 0
 * // list-style: none
 * > li
 * 	// position: relative
 * 	// display: block
 * 	// padding: 10px 15px */
.ro-modal:before {
  content: "";
  display: block;
  position: fixed;
  background-color: rgba(51, 122, 183, 0.9);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 50; }
.ro-modal .ModalClose {
  display: block;
  position: fixed;
  top: 5%;
  left: 90%;
  z-index: 51; }
.ro-modal .CenterContent {
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
  position: fixed;
  z-index: 51;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 200;
  text-align: center;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 5px;
  width: 800px;
  max-width: 95%; }
.ro-modal #TutActionBar {
  position: fixed;
  z-index: 10;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%); }

.text-center {
  text-align: center; }

.ro-point {
  margin-top: 20px;
  padding: 15px;
  border-radius: 4px; }
  .ro-point .ro-contents {
    min-height: 50px; }

.meta {
  background-color: #5cb85c; }

.credible {
  background-color: #5cb85c; }

.web {
  background-color: #f0ad4e; }

.opinion {
  background-color: #f0ad4e; }

.media {
  background-color: #d9534f; }

.other {
  background-color: #337ab7; }

.proof {
  background-color: #5cb85c; }

.disproof {
  background-color: #d9534f; }

#MainMetaTruthContainer {
  margin-top: 100px; }

#Auth-Container #Auth-MainHeader {
  font-size: 30px;
  font-weight: 200;
  margin-bottom: 10px; }
#Auth-Container #Auth-SubHeader {
  font-size: 20px;
  font-weight: 300;
  margin: 0; }

#Home-Container #Home-MainHeader {
  font-size: 30px;
  font-weight: 200;
  margin-bottom: 10px; }
#Home-Container #Home-SubHeader {
  font-size: 20px;
  font-weight: 300;
  margin: 0; }
#Home-Container #Start-Question-Btn {
  margin: 3px 0 3px 0; }
#Home-Container #Search-Questions-Bar {
  margin: 3px 0 3px 0; }
#Home-Container #TestInputWrapper {
  border: 1px solid #dddddd; }
  #Home-Container #TestInputWrapper #TestInput {
    border: none;
    background-color: #fff; }
#Home-Container .TopicsPane {
  border: 1px solid #dddddd;
  padding: 8px;
  width: 300px;
  position: fixed;
  left: 25px; }
  #Home-Container .TopicsPane h3 {
    font-weight: 200; }
  #Home-Container .TopicsPane h4 {
    font-weight: 200; }

#Question-Container #Question-Header-Title, #Question-Container #Question-Header-Detail {
  font-weight: 200; }
#Question-Container .TopicsPane {
  border: 1px solid #dddddd;
  padding: 8px;
  width: 200px;
  position: fixed;
  left: 85%; }
  #Question-Container .TopicsPane h3 {
    font-weight: 200; }
  #Question-Container .TopicsPane h4 {
    font-weight: 200; }

#HeaderQuestion {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  font-size: 3.5em;
  font-weight: 100;
  color: #fff;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px; }

.HomeQuestion {
  margin: 0 auto;
  border: 1px solid #dddddd;
  margin-bottom: 10px;
  min-height: 100px;
  max-width: 728px;
  background-color: #fff; }
  .HomeQuestion .deleteButton {
    float: right;
    margin: 10px;
    bottom: 0px; }
  .HomeQuestion .content-container {
    padding: 20px; }

.HomeQuestionSubContent {
  padding-left: 10px;
  padding-right: 10px; }
  .HomeQuestionSubContent p {
    font-size: 20px; }

.isInSearchModal {
  position: absolute;
  top: 45%;
  width: 100%;
  left: 0; }

#CreatePointForm {
  position: absolute;
  z-index: 53;
  top: 30%;
  left: 0;
  width: 100%;
  padding-left: 20%;
  padding-right: 20%; }
  #CreatePointForm ro-yes-no-toggle {
    float: left; }
  #CreatePointForm #PointConditionsContainer {
    padding: 20px;
    border-radius: 10px;
    background-color: #d1d5d8;
    margin-bottom: 4px; }
  #CreatePointForm #PointTypeString {
    color: #ddd;
    font-size: 2em;
    font-weight: 200;
    margin-left: 10px; }
  #CreatePointForm textarea {
    line-height: 25px !important;
    font-size: 20px !important; }
    #CreatePointForm textarea #WhyPointInput {
      background-color: #d1d5d8; }
  #CreatePointForm #PostPointBtn {
    margin: 5px;
    float: right; }

input[type="text"]#QuestionInput {
  z-index: 53;
  position: fixed;
  background-color: transparent;
  border: none;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
  transition: transform 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  text-align: center;
  height: 20%;
  width: 100%;
  line-height: 100%;
  font-size: 5em;
  font-weight: 100;
  background-color: rgba(255, 255, 255, 0.9); }
  input[type="text"]#QuestionInput:focus {
    outline: none; }

#AlertMessage {
  position: fixed;
  z-index: 53;
  padding: 10px;
  border-radius: 10px;
  color: #555;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
  font-weight: 300; }

.ro-alert-success {
  background-color: #61bd6d; }

.ro-alert-warning {
  background-color: #fba026; }

#PostQuestion {
  position: fixed;
  z-index: 53;
  top: 80%;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 5em;
  font-weight: 100; }

#FinalizeZone {
  position: fixed;
  z-index: 55;
  top: 60%;
  left: 50%;
  transform: translate(-50%, 0); }
  #FinalizeZone label {
    color: #fff; }

#CreateSupportForm {
  position: absolute;
  z-index: 53;
  top: 30%;
  left: 0;
  width: 100%;
  padding-left: 20%;
  padding-right: 20%; }
  #CreateSupportForm #Step1, #CreateSupportForm #Step2 {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px; }

#TagsForm #TagsContainer {
  position: relative;
  z-index: 55;
  width: 90%;
  left: 50%;
  top: 20%;
  transform: translate(-50%, 0);
  transition: transform 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px; }
  #TagsForm #TagsContainer h1 {
    text-align: center;
    font-size: 2em;
    font-weight: 200; }
  #TagsForm #TagsContainer #SearchTagsContainer {
    float: left;
    width: 50%;
    padding: 10px; }
    #TagsForm #TagsContainer #SearchTagsContainer h4 {
      text-align: center;
      text-decoration: underline;
      font-size: 1.5em;
      font-weight: 200; }
  #TagsForm #TagsContainer #AcceptedTagsContainer {
    float: left;
    width: 50%;
    padding: 10px; }
    #TagsForm #TagsContainer #AcceptedTagsContainer h4 {
      text-align: center;
      text-decoration: underline;
      font-size: 1.5em;
      font-weight: 200; }
    #TagsForm #TagsContainer #AcceptedTagsContainer button {
      display: inline; }
  #TagsForm #TagsContainer .ro-tag {
    background-color: #fff;
    padding: 10px;
    margin: 3px;
    border: 1px solid #d1d5d8;
    border-radius: 10px; }
    #TagsForm #TagsContainer .ro-tag .ro-tagName {
      font-size: 1.5em;
      font-weight: 200; }

.ro-main-point {
  position: relative;
  border: 1px solid #cccccc;
  animation-duration: 0.3s;
  animation-name: popIn; }

.supporting-evidence {
  position: relative;
  border: 1px solid #cccccc;
  animation-duration: 0.3s;
  animation-name: popIn; }

.ro-main-nav {
  width: 100%;
  background-color: #F8F8F8;
  border: 1px solid #e7e7e7;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 40;
  min-height: 50px;
  margin-bottom: 20px;
  padding-top: 0px; }
  .ro-main-nav .ro-navbar-logo {
    float: left;
    height: 50px;
    line-height: 50px;
    padding: 0 30px;
    font-size: 1.4em;
    color: #777; }
  .ro-main-nav > ul {
    margin: 0;
    padding: 0;
    color: #777;
    list-style-type: none;
    position: relative; }
  .ro-main-nav .ro-nav-item {
    display: inline-block;
    padding: 0 30px;
    height: 48px;
    background-color: #F8F8F8;
    cursor: pointer; }
    .ro-main-nav .ro-nav-item:hover {
      background-color: #888; }
      .ro-main-nav .ro-nav-item:hover .nav-link {
        color: #fff; }
    .ro-main-nav .ro-nav-item .nav-link {
      line-height: 50px;
      color: #777; }

#MainSearchBar input[type="text"] {
  width: 50em; }
#MainSearchBar .form-group {
  position: relative; }
  #MainSearchBar .form-group dropdown {
    position: absolute;
    z-index: 41;
    top: 60%;
    left: 0;
    width: 100%; }

#NotifButton {
  position: relative; }
  #NotifButton #NotifyDropdown {
    position: absolute;
    line-height: 30px;
    z-index: 41;
    top: 50%;
    left: 0;
    width: 200%; }

.ro-tag-cell {
  display: inline; }
  .ro-tag-cell h4 {
    display: inherit;
    margin-right: 6px; }

.vote-cell {
  display: inline; }
  .vote-cell .upvote-btn {
    display: inherit; }
    .vote-cell .upvote-btn .score {
      margin-left: 6px;
      padding-left: 6px;
      border-left: 1px solid grey; }
  .vote-cell .downvote-btn {
    display: inherit; }

.NewFavorite:hover {
  background-color: #b2ffc3; }

.favorite-remove:hover {
  cursor: pointer; }

#AlertBar {
  position: fixed;
  z-index: 100;
  width: 100%;
  bottom: 0; }

.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden; }
  .cmn-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none; }

input.cmn-toggle-yes-no + label {
  padding: 2px;
  width: 220px;
  height: 60px; }
  input.cmn-toggle-yes-no + label:before, input.cmn-toggle-yes-no + label:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: #fff;
    font-family: "Roboto Slab", sans-serif;
    font-weight: 200;
    font-size: 25px;
    text-align: center;
    line-height: 60px; }
  input.cmn-toggle-yes-no + label:before {
    background-color: #E37063;
    content: attr(data-off);
    transition: transform 0.5s;
    backface-visibility: hidden; }
  input.cmn-toggle-yes-no + label:after {
    background-color: #8ce196;
    content: attr(data-on);
    transition: transform 0.5s;
    transform: rotateY(180deg);
    backface-visibility: hidden; }
input.cmn-toggle-yes-no:checked + label:before {
  transform: rotateY(180deg); }
input.cmn-toggle-yes-no:checked + label:after {
  transform: rotateY(0); }

/*# sourceMappingURL=app.css.map */
