<button class="btn btn-default ModalClose" (click)="onCancel()">
    Close
</button>
<form id="CreatePointForm">
    <div id="PointConditionsContainer">
        <ro-tags-form
            [type]="+2"
            [acceptedTags]="conditions"
            [typeString]="Conditions"></ro-tags-form>
    </div>
    <!-- <div id="LargeWord-Then-Container">
        <h3 id="LargeWord-Then">
            Then
        </h3>
    </div>
    <div id="YesNoRadioContainer">
        <div id="YesBtn">
            YES
        </div>
        <div id="NoBtn">
            NO
        </div>
    </div> -->
    <label for="WhyPointInput">
        <span id="PointTypeString">{{stringType | uppercase}}: {{200 - newPoint.title.length}}/200</span>
    </label>
    <textarea
        id="WhyPointInput"
        name="main-point-detail"
        class="form-control"
        rows="6"
        style="resize: none;"
        minlength="10"
        maxlength="200"
        placeholder="What is your point? DON'T SUPPORT YOUR POINT HERE!!!"
        [(ngModel)]="newPoint.title"
        >
    </textarea>
    <button id="PostPointBtn" type="button" class="btn btn-sm btn-success" (click)="createPoint()">
        Post point
    </button>
</form>
<!-- <form class="row" (ngSubmit)="createPoint()">
    <div id="NewPoint" class="row">
        <div class="col-xs-8">
            <label for="main-point-detail">
                *** OPTIONAL *** Elaborate on what your point is. <br>
                !!WARNING!! This is not a place to support your point, please add support data in the SUPPORT POINT section! You will have a chance to add your own supporting data as soon as you create your point.
            </label>
            <textarea
                name="main-point-detail"
                class="form-control"
                rows="6"
                style="resize: none;"
                minlength="20"
                maxlength="400"
                placeholder="OPTIONAL: Add a description that helps elaborate what your point is.  Max 400 characters"
                [(ngModel)]="newPoint.detail"
                >
            </textarea>
        </div>
        <div class="col-xs-4 pull-right">
            <button
                class="btn btn-lg btn-danger"
                (click)="onCancel()"
                >
                Cancel
            </button>
            <button
                type="submit"
                class="btn btn-lg btn-success"
                >
                Add Main Point
            </button>
        </div>
    </div>
    <br/>
</form> -->
