<div id="Home">
    <!-- Main Header -->
    <h2 id="MainHeader" class="text-center">
        MetaTruth v1.0 Alpha.9.1
    </h2>
    <h4 id="SubHeader" class="text-center">
        An app to help answer the most controversial questions
    </h4>
    <div class="ro-modal" *ngIf="startQuestion">
        <ro-create-question
            [question]="searchText"
            (close)="startQuestion = false; showQ_ToTut=false"
            (search)="searchQuestions($event);"
            (switchTags)="showQ_ToTut = false"></ro-create-question>
    </div>
    <!-- Tab Bar: Tab to question list type -->
   <!--  <ul class="ro-nav ro-nav-tabs">
        <li role="presentation" class="ro-tab active">
            <a href="#/Home/All">
                All
            </a>
        </li>
        <li role="presentation" class="ro-tab">
            <a href="#/Home/All">
                Tab 2
            </a>
        </li>
    </ul> -->
    <ul class="nav nav-tabs">
        <li role="presentation" class="active">
            <a href="#/Home/All">
                All
            </a>
        </li>
    </ul>
    <!-- Create and Search Buttons -->
    <br>
    <div class="row">
        <div class="col-md-10">
            <div class="input-group" style="margin: 3px 0 3px 0;">
                <div class="input-group-addon">
                    <span *ngIf="!startQuestion">Search</span>
                    <span *ngIf="startQuestion"><b>ENTER</b></span>
                </div>
                <input type="text" class="form-control" id="exampleInputAmount" [(ngModel)]="searchText"  placeholder="Questions" (keyup)="searchQuestions()">
            </div>
        </div>
        <div class="col-md-2 text-center">
            <button class="btn btn-md btn-success" (click)="startQuestion = !startQuestion" *ngIf="!startQuestion" title="try searching for an question first to see if your question already exists" style="margin: 3px 0 3px 0;">
                Start New Question
            </button>
        </div>
    </div>
    <br>
    <!-- List out the isses of selected type -->
    <ro-home-question-list
        [searchText]="searchText"
        [startQuestion]="startQuestion"
        [questions]="questions"
        [showInTut]="showQ_ToTut"
        (cancel)="searchText = ''; startQuestion = !startQuestion;"></ro-home-question-list>
    <div *ngIf="searchText !== '';">
        <hr>
        <h1 class="text-center">
            Couldn't find an question?
            <button class="btn btn-lg btn-success" (click)="startQuestion = !startQuestion">
                ADD IT!!!
            </button>
        </h1>
    </div>
</div>
