<h1 [hidden]="questions">
    Loading questions
</h1>
<br/>
<div *ngIf="questions">
    <div class="HomeQuestion" *ngFor="#question of questions" [routerLink]="['Question', {id: question._id, type: 'yes'}]" >
        <h3 class="text-center">
            {{question.title}}
        </h3>
        <h5 class="text-center">
            {{question.detail}}
        </h5>
        <!-- <p class="text-center">
            Created on {{stringToDate(question.created_at) | date: 'yMMMd'}}
        </p> -->
        <div class="ro-action-bar">
            <ro-vote-cell
                class="ro-action-bar-item"
                [sourceId]="question._id"
                [score]="question.score"
                (modVote)="question.ups = question.ups + $event">
            </ro-vote-cell>
            <div class="pull-right" *ngIf="isOwner(question.owner_user_id)">
                <button class="btn btn-sm btn-danger" (click)="deleteQuestion(question, $event)">
                    <i class="fa fa-close">
                    </i>
                </button>
            </div>
        </div>
    </div>
</div>
