#MainNavBar
  position: fixed
  top: 0
  width: 100%
  list-style-type: none
  margin: 0
  padding: 0
  background-color: $mt-main-brand-color
  height: 50px
  z-index: 40
  #ProfileDropDown
    margin-right: 60px
    .dropbtn
      display: block
      color: $mt-main-link-font-color
      text-align: center
      padding: 14px 16px
      text-decoration: none
      &:hover
        background-color: $mt-main-link-hover-font-color
  .nav-item
    display: inline-block
    &-left
      float: left
    &-right
      float: right
    a
      display: block
      color: $mt-main-link-font-color
      text-align: center
      padding: 14px 16px
      text-decoration: none
    &:hover
      background-color: $mt-main-link-hover-font-color
  #MainSearchBar
    input[type="text"]
      width: 50em
    .form-group
      position: relative