<ul id="MainNavBar">
    <li class="nav-item nav-item-left  hidden-lg-down"
        (click)="goTo('')">
        <a href="/#">MetaTruth Alpha.11.5</a>
    </li>
    <li id="MainSearchBar"
          class="mt-navbar-form nav-item form-inline pull-left"
          role="search">
        <div class="mt-form-group dropdown">
            <input type="text"
                   class="mt-form-control"
                   placeholder="Ask or Search MetaTruth"
                   (keyup)="searchStuff(MainSearchValue.value)"
                   #MainSearchValue>
            <div class="dropdown-content"
                 *ngIf="dataSearched !== null">
                <div *ngFor="let value of dataSearched"
                     (click)="routeToPost(value._id); MainSearchValue.value = ''">
                    <a>{{value.title}}</a>
                </div>
            </div>
        </div>
    </li>
    <li class="mt-navbar-form form-inline pull-left"
          role="search">
        <button type="submit"
                class="mt-nav-btn mt-btn-default"
                (click)="startQuestion = !startQuestion">Ask a question
        </button>
    </li>
    <li id="ProfileDropDown"
        class="dropdown dropdown-hover nav-item-right  hidden-lg-down">
        <a class="dropbtn"
           (click)="goTo('auth')"
           *ngIf="!auth()">Alpha Testers Login/Register</a>
        <a class="dropbtn"
           href="#"
           *ngIf="auth()">{{email}}</a>
        <div class="dropdown-content">
            <a href="#"
               *ngIf="auth()"
               (click)="logout()">Logout</a>
        </div>
    </li>
    <li class="nav-item nav-item-right  hidden-lg-down"
        (click)="toggleShowNotifs()">
        <a href="#">Notifications</a>
        <dropdown
                id="NotifyDropdown"
                *ngIf="showNotifs === true"
                [values]="notifications"
                (valueChange)="showNotifs === false; routeToPost($event.post_id);readNotif($event._id); "></dropdown>
    </li>
</ul>
<!--
             Misc
==================================
     Create Question modal-->
<div class="ro-modal"
     *ngIf="startQuestion">
    <ro-create-question
            [question]="MainSearchValue.value"
            (close)="startQuestion = false; showQ_ToTut=false"
            (search)="null"
            (switchTags)="showQ_ToTut = false"></ro-create-question>
</div>
