<form id="CreatePointForm"
      (ngSubmit)="createPoint()">
    <div class="row">
        <div class="addedDetail col col-md-6">
            <div class="rules-panel">
                <h4>Rules:</h4>
                <ul>
                    <li>
                        Do not include links or sources of any kind in your thought
                    </li>
                    <li>
                        Your thought should be an un-supported statement. You can add support after your thought is
                        added
                    </li>
                </ul>
            </div>
            <div class="rules-panel">
                <h4>A good thought:</h4>
                <ul>
                    <li>
                        Focuses on one thing
                    </li>
                    <li>
                        Re-states the subject of the issue
                    </li>
                    <li>
                        Is easy to read and understand by someone else
                    </li>
                </ul>
            </div>
        </div>
        <div class="thought-input  col col-md-6">
            <label for="ClaimTitleInput">
                <ro-yes-no-toggle (changed)="selectedType = $event"></ro-yes-no-toggle>
                <span id="PointTypeString"> {{200 - newPoint.title.length}}/200</span>
            </label>
            <input
                    id="ClaimTitleInput"
                    name="main-point-detail"
                    class="create-point-input"
                    type="text"
                    min="10"
                    max="200"
                    placeholder="Enter your thought here"
                    [(ngModel)]="newPoint.title"
                    required>
            <textarea
                    name="main-point-detail"
                    class="create-point-input"
                    rows="6"
                    maxlength="200"
                    placeholder="Optional: Add any necessary details here. Don't add any supporting evidence though.  You can add your own support after your thought is added."
                    [(ngModel)]="newPoint.detail"
            ></textarea>
            <button id="PostPointBtn"
                    type="submit"
                    class="mt-btn mt-btn-sm mt-btn-success">
                Post claim
            </button>
        </div>
    </div>
</form>
