<div id="WelcomeTutorial" class="ro-modal">
    <div  *ngIf="infoStep === 0" [ngSwitch]="tutStep">
        <h1 id="ToMuchInfo" class="CenterContent" *ngSwitchWhen="0">
            Stop scouring the web for data when you want to try something new.
        </h1>
        <h1 class="CenterContent" *ngSwitchWhen="1">
            Have the best data in an instant and in a format that makes sense.
        </h1>
        <h1 class="CenterContent" *ngSwitchWhen="2">
            Help answer the world's greatest issues.
        </h1>
        <h1 class="CenterContent" *ngSwitchWhen="3">
            Let your voice be heard, without having to argue with anyone.
        </h1>
        <div id="TutActionBar">
            <button id="TutYesBtn" class="btn btn-default btn-lg tutActionBarItem" (click)="prevStep()">
                Back
            </button>
            <button id="TutYesBtn" class="btn btn-success btn-lg tutActionBarItem" (click)="nextStep()">
                AWESOME
            </button>
        </div>
    </div>
    <form class="CenterContent" *ngIf="infoStep === 1" (ngSubmit)="submitContactInfo()">
        <p>Like to know more? <br> Enter your contact info below.</p>
        <div class="form-group">
            <label for="ContactFullName">
                Full Name
            </label>
            <input type="text" class="form-control" id="ContactFullName" placeholder="Full Name" [(ngModel)]="userData.fullName" required />
        </div>
        <div class="form-group">
            <label for="ContactEmail">
                Email
            </label>
            <input type="email" class="form-control" id="ContactEmail" placeholder="Email" [(ngModel)]="userData.email" required/>
        </div>
        <div class="form-group">
          <label>Interests: (So we can have testing parties with groups of people with similar interests) <br> ex: sports,cars,health,video games (Minimum of 4)</label>
          <input class="form-control" id="UserInterests" placeholder="Comma seperated list of your top interests" [(ngModel)]="userData.interests" required pattern="[\s\S]{1,59},+[\s\S]{1,59},+[\s\S]{1,59},+[\s\S]{1,59}[\s\S ]">
        </div>
        <div class="form-group">
          <label>Concerns: What things are you concerned about in our world today. Personal, Local, National, or international <br> ex: healthcare,teacher pay,transgender rights,healthiness of tea,etc. (Minimum of 4)</label>
          <input class="form-control" id="UserConcerns" placeholder="Comma seperated list of your top concerns" [(ngModel)]="userData.concerns" required pattern="[\s\S]{1,59},+[\s\S]{1,59},+[\s\S]{1,59},+[\s\S]{1,59}[\s\S ]">
        </div>
        <p><b>Testing begins soon! Would you like to participate?</b></p>
        <p>We would love your feedback!</p>
        <label>
            <input type="checkbox" [(ngModel)]="userData.tester">
            <span *ngIf="userData.tester"> YES! I would love to help with testing!</span>
            <span *ngIf="!userData.tester"> NO. Just let me know when the final product is ready.</span>
        </label>
        <br>
        <!-- <div class="form-group">
            <label for="exampleInputPassword1">
                Zip Code
            </label>
            <input type="number" class="form-control" id="ContactZip" placeholder="Zip" [(ngModel)]="userData.zipcode"/>
        </div> -->
        <button type="submit" class="btn btn-default">
            Submit
        </button>
    </form>
    <div class="CenterContent" *ngIf="infoStep === 2">
        <h1>Thank you! We will keep you updated.</h1>
        <h3>If you know someone else that has to make decisions, be sure to let them sign up too!</h3>
        <button class="btn btn-lg btn-success" (click)="infoStep = 0; tutStep = 0">Restart slide for someone else</button>
    </div>
</div>
