<div id="WelcomeTutorial" class="ro-modal">
    <div  *ngIf="infoStep === 0" [ngSwitch]="tutStep">
        <h1 id="ToMuchInfo" class="CenterContent" *ngSwitchWhen="0">
            <p>To better understand the issue, please find 20 minutes to watch this video. (Pardon the few vulgar moments)</p>
            <iframe width="100%" height="auto" src="https://www.youtube.com/embed/0Rnq1NpHdmw" frameborder="0" allowfullscreen style="min-height: 400px"></iframe>
            <button id="TutYesBtn" class="btn btn-default btn-lg" (click)="prevStep()">
                Back
            </button>
            <button id="TutYesBtn" class="btn btn-success btn-lg" (click)="nextStep()">
                Next
            </button>
        </h1>
        <h1 class="CenterContent" *ngSwitchWhen="1">
            MetaTruth is an application to help answer <b>COMPLEX</b> and <b>OPINIONATED</b> questions
        </h1>
        <h1 class="CenterContent" *ngSwitchWhen="2">
            Questions like: Is my coffee giving me Cancer?
        </h1>
        <h1 class="CenterContent" *ngSwitchWhen="3">
            Questions where <b>ALL</b> the data needs to be concidered
        </h1>
        <h1 class="CenterContent" *ngSwitchWhen="4">
            Questions that Google has a tough time answering.
        </h1>
        <h1 class="CenterContent" *ngSwitchWhen="5">
            So it will help you make educated decisions
        </h1>
        <h1 class="CenterContent" *ngSwitchWhen="6">
            By showing YOU the data you need to see
        </h1>
        <h1 class="CenterContent" *ngSwitchWhen="7">
            In a FORMAT that makes sense
        </h1>
        <h1 class="CenterContent" *ngSwitchWhen="8">
            Becuase it should be easier to make decisions.
        </h1>
        <div id="TutActionBar" *ngIf="tutStep != 0 ">
            <button id="TutYesBtn" class="btn btn-default btn-lg tutActionBarItem" (click)="prevStep()">
                Back
            </button>
            <button id="TutYesBtn" class="btn btn-success btn-lg tutActionBarItem" (click)="nextStep()">
                Next
            </button>
        </div>
    </div>
    <form class="CenterContent" *ngIf="infoStep === 1" (ngSubmit)="submitContactInfo()">
        <h2>Pre-Reqister now</h2>
        <h4>Until the production launch version is released, you must attend a TESTING party to get access to the app.</h4>
        <div class="form-group">
            <label for="ContactFullName">
                Full Name
            </label>
            <input type="text" class="form-control" id="ContactFullName" placeholder="Full Name" [(ngModel)]="userData.fullName" required autofocus/>
        </div>
        <div class="form-group">
            <label for="ContactEmail">
                Email
            </label>
            <input type="email" class="form-control" id="ContactEmail" placeholder="Email" [(ngModel)]="userData.email" required/>
        </div>
        <div class="form-group">
          <label>Interests: (So we can have testing parties with groups of people with similar interests) <br> ex: sports,cars,health,video games (Minimum of 4)</label>
          <input class="form-control" id="UserInterests" placeholder="Comma seperated list of your top interests" [(ngModel)]="userData.interests" required pattern="[\s\S]{1,59},+[\s\S]{1,59},+[\s\S]{1,59},+[\s\S]{1,59}[\s\S ]">
        </div>
        <div class="form-group">
          <label>Concerns: What personal, local, national, or international things are you most concerned about in our world today. <br> ex: healthcare,teacher pay,transgender rights,healthiness of tea,etc. (Minimum of 1)</label>
          <input class="form-control" id="UserConcerns" placeholder="Comma seperated list of your top concerns" [(ngModel)]="userData.concerns" required>
        </div>
        <p><b>Testing begins soon! Would you like to participate?</b></p>
        <p>We would love your feedback!</p>
        <label>
            <input type="checkbox" [(ngModel)]="userData.tester">
            <span *ngIf="userData.tester"> YES! I would love to help with testing!</span>
            <span *ngIf="!userData.tester"> NO. Just let me know when the final product is ready.</span>
        </label>
        <br>
        <!-- <div class="form-group">
            <label for="exampleInputPassword1">
                Zip Code
            </label>
            <input type="number" class="form-control" id="ContactZip" placeholder="Zip" [(ngModel)]="userData.zipcode"/>
        </div> -->
        <button type="submit" class="btn btn-default">
            Submit
        </button>
    </form>
    <div class="CenterContent" *ngIf="infoStep === 2">
        <h1>Thank you! We will keep you updated.</h1>
        <h3>If you know someone else that has to make decisions, be sure to let them sign up too!</h3>
        <button class="btn btn-lg btn-success" (click)="infoStep = 0; tutStep = 0; nextStep();">Restart slide for someone else</button>
    </div>
</div>
