<nav class="ro-main-nav">
	<a class="ro-navbar-logo" [routerLink]="['Home']">
		Home
	</a>
	<ul>
        <li>
        	<a class="ro-nav-item pull-right" *ngIf="auth()" (click)="logout()">Logout</a>
        </li>
		<li >
        	<a class="ro-nav-item pull-right" [routerLink]="['Auth']" *ngIf="!auth()">Get started now! Login/Register</a>
        	<a class="ro-nav-item pull-right" [routerLink]="['Home']" *ngIf="auth()">{{email}}</a>
        </li>
	</ul>
</nav>
<!-- <nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" [routerLink]="['Home']">Home</a>
        </div>
       	<ul class="nav navbar-nav navbar-right">
	        <li >
	        	<a [routerLink]="['Auth']" *ngIf="!auth()">Login/Register</a>
	        	<a [routerLink]="['Home']" *ngIf="auth()">{{email}}</a>
	        </li>
	        <li>
	        	<a class="danger" *ngIf="auth()" (click)="logout()">Logout</a>
	        </li>
	    </ul>
    </div>
</nav> -->
