.vote-cell {
  display: inline;
}
.vote-cell .upvote-btn {
  display: inherit;
}
.vote-cell .upvote-btn .score {
  margin-left: 6px;
  padding-left: 6px;
  border-left: 1px solid grey;
}
.vote-cell .downvote-btn {
  display: inherit;
}
