<div>
    <hr/>
    <div id="newSupport" class="row">
        <div class="col-xs-8 col-xs-offset-4">
            <div class="row">
                <div class="col-xs-6">
                    <div class="text-center">
                        <h5>
                            Source Type
                        </h5>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="checkbox pull-right">
                                <label>
                                    Meta Data
                                    <input
                                        type="radio"
                                        (click)="setTag('meta')"
                                        name="type"/>
                                    </label>
                                </div>
                                <div class="checkbox pull-right">
                                    <label>
                                        Credible
                                        <input
                                            type="radio"
                                            (click)="setTag('credible')"
                                            name="type"/>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="checkbox">
                                        <label>
                                            <input
                                                type="radio"
                                                (click)="setTag('media')"
                                                name="type"/>
                                                Media Sources
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input
                                                    type="radio"
                                                    (click)="setTag('opinion')"
                                                    name="type"/>
                                                    Personal Opinion
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <textarea
                                        class="form-control"
                                        rows="3"
                                        style="resize: none;"
                                        maxlength="400"
                                        placeholder="Support Your Point Here. Max 400 Characters"
                                        [(ngModel)]="newSupport.evidence">
                                    </textarea>
                                    <br/>
                                    <textarea
                                        class="form-control"
                                        rows="2"
                                        style="resize: none;"
                                        placeholder="Please cite your information here. ONLY ONE SOURCE!!!"
                                        *ngIf="showSource"
                                        [(ngModel)]="newSupport.source" >
                                    </textarea>
                                    <br>
                                    <button class="btn btn-sm btn-success" (click)="newSupport.type = 'proof'; createSupport();">
                                        Add as Proof
                                    </button>
                                    <button class="btn btn-sm btn-danger" (click)="newSupport.type = 'disproof'; createSupport();">
                                        Add as Disproof
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
