<form class="row" (ngSubmit)="createSupport()">
    <div class="col-xs-6">
    </div>
    <div class="col-xs-6">
        <div id="Step1" *ngIf="newSupport.tag === ''">
            <div class="text-center">
                <h5>
                    Source Type
                </h5>
            </div>
            <hr/>
            <div class="row">
                <div class="col-xs-4">
                    <div class="checkbox  text-center">
                        <label>
                            <input type="radio" (click)="setTag('meta')" name="type" required/>
                            Meta Analysis
                        </label>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="checkbox  text-center">
                        <label>
                            Credible
                            <input type="radio" (click)="setTag('credible')" name="type"/>
                        </label>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="checkbox  text-center">
                        <label>
                            Website/Blog
                            <input type="radio" (click)="setTag('web')" name="type"/>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <div class="checkbox  text-center">
                        <label>
                            <input type="radio" (click)="setTag('media')" name="type"/>
                            TV Media <br> (CNN, FOX, HUFFINGTON, etc)
                        </label>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="checkbox  text-center">
                        <label>
                            Personal Opinion
                            <input type="radio" (click)="setTag('opinion')" name="type"/>
                        </label>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="checkbox  text-center">
                        <label>
                            Other
                            <input type="radio" (click)="setTag('other')" name="type"/>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div  id="Step1"  *ngIf="newSupport.tag !== ''">
            <textarea
                class="form-control"
                rows="3"
                style="resize: none;"
                minlength="20"
                maxlength="400"
                placeholder="Support Your Point Here. Max 400 Characters"
                [(ngModel)]="newSupport.evidence"
                required>
            </textarea>
            <br/>
            <div class="form-group"  *ngIf="showSource">
                <label for="source">
                    Source (Only 1)
                </label>
                <input type="text" name="source" class="form-control" placeholder="http://" pattern="https?://.+" title="Include http://" [(ngModel)]="newSupport.source" required/>
            </div>
            <br/>
            <div  id="Step3">
                <button class="btn btn-sm btn-success" (click)="newSupport.tag = '';">
                    Cancel
                </button>
                <button type="submit" class="btn btn-sm btn-success" (click)="newSupport.type = 'proof';">
                    Add as Proof
                </button>
                <button type="submit" class="btn btn-sm btn-danger" (click)="newSupport.type = 'disproof';">
                    Add as Disproof
                </button>
            </div>
        </div>
    </div>
</form>
