<hr/>
<form class="row" (ngSubmit)="createPoint()">
    <div id="NewPoint" class="row">
        <div class="col-xs-12">
            <textarea
                class="form-control"
                rows="6"
                style="resize: none;"
                minlength="20"
                maxlength="400"
                placeholder="Please enter your main point here. Max 400 Characters"
                [(ngModel)]="newPoint.problem"
                required>
            </textarea>
        </div>
    </div>
    <br/>
    <div class="pull-right">
        <button
            class="btn btn-lg btn-danger"
            (click)="onCancel()"
            >
            Cancel
        </button>
        <button
            type="submit"
            class="btn btn-lg btn-success"
            >
            Add Main Point
        </button>
    </div>
</form>
