<div>
    <h2 class="text-center">
        {{issue.mainQuestion}}
    </h2>
    <h5 class="text-center">
        {{issue.questionDetail}}
    </h5>
    <!-- Tab Bar: Tab to issue list type -->
    <ul class="nav nav-tabs">
        <li role="presentation" [ngClass]="{active: _type === 'pro'}">
            <a [routerLink]="['Issue', {type: 
            'pro', id: _issueId}]">
                Pros
            </a>
        </li>
        <li role="presentation" [ngClass]="{active: _type === 'con'}">
            <a [routerLink]="['Issue', {type: 
            'con', id: _issueId}]">
                Cons
            </a>
        </li>
    </ul>
    <!-- Create and Search Buttons -->
    <br/>
    <div class="row">
        <div class="col-xs-2">
            <button class="btn btn-md" class="btn" [ngClass]="{'btn-success': _type === 'pro', 'btn-danger': _type === 'con'}" (click)="showForm = !showForm">
                Add a new pro
            </button>
        </div>
        <div class="col-xs-8">
            <div class="input-group">
                <div class="input-group-addon">
                    Search
                </div>
                <input type="text" class="form-control" id="exampleInputAmount" [(ngModel)]="searchText"/>
            </div>
        </div>
    </div>
    <ro-create-point-form *ngIf="showForm" (added)="ngOnInit()"></ro-create-point-form>
    <ro-points-list [searchText]="searchText"></ro-points-list>
</div>
