<div>
    <div style="height: 10%">
        <h2 class="text-center">
            {{issue.mainQuestion}}
        </h2>
        <h5 class="text-center">
            {{issue.questionDetail}}
        </h5>
    </div>
    <!-- Tab Bar: Tab to issue list type -->
    <ul class="nav nav-tabs">
        <li role="presentation" [ngClass]="{active: _type === 'yes'}">
            <a [routerLink]="['Issue', {type: 
            'yes', id: _issueId}]">
                Yes
            </a>
        </li>
        <li role="presentation" [ngClass]="{active: _type === 'no'}">
            <a [routerLink]="['Issue', {type: 
            'no', id: _issueId}]">
                NO
            </a>
        </li>
    </ul>
    <ro-points-list></ro-points-list>
</div>
