<div class="row" style="height: 150px;">
    <div class="col-xs-2">
        <ro-vote-cell
            class="vertical-center pull-right"
            [sourceType]="'point'"
            [sourceId]="point._id"
            [score]="point.ups - point.downs"
            (upVoted)="point.ups=point.ups+1"
            (downVoted)="point.downs=point.downs+1">
        </ro-vote-cell>
    </div>
    <div class="col-xs-10">
        <h4 style="height: 150px; text-align: left; padding-left: 10px;" class="pull-left vertical-center">
            {{point.problem}}
        </h4>
    </div>
    <div class="row">
        <div class="col col-xs-10 col-xs-offset-2">
            <button
                class="btn btn-sm btn-danger pull-left"
                (click)="deletePoint()">
                <i class="fa fa-close">
                </i>
            </button>
        </div>
    </div>
</div>
