<div class="supporting-evidence" style="height: 200px;">
    <div class="row">
        <div class="col-xs-2">
            <ro-vote-cell
                class="pull-right"
                [sourceType]="'point'"
                [sourceId]="point._id"
                [score]="point.ups - point.downs"></ro-vote-cell>
        </div>
        <div class="col-xs-10">
            <h3 class="pull-left padding-left">
                {{point.problem}}
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col col-xs-10 col-xs-offset-2">
            <button
                class="btn btn-sm btn-danger pull-left"
                (click)="deletePoint()">
                <i class="fa fa-close">
                </i>
            </button>
        </div>
    </div>
</div>