<div *ngFor="#point of points | roFilter: searchText; #i = index" class="point">
    <div class="row">
        <div class="col-xs-6 main-point-block text-center">
            <ro-main-point
            	[point]="point"
                (removed)="onRemoved()"></ro-main-point>
        </div>
        <div class="col-xs-6 top-supports">
            <ro-top-support 
                *ngIf="point.supports && point.supports.length > 0"
                [support]="point.supports[0]"
                (addEvidence)="addEvidence(i)"
                (viewAll)="viewAll(i)"></ro-top-support>
            <!-- To show if no supports data has been searched for -->
            <div *ngIf="!point.supports">
                <br/>
                <button type="button" class="btn btn-lg btn-default" (click)="getSupports(point._id, i)">
                    Get Supports
                </button>
            </div>
            <div *ngIf="point.supports && point.supports.length === 0">
                <h3 class="text-center">
                    No Support
                </h3>
                <button type="button" class="btn btn-xs btn-info" (click)="addEvidence(i)">
                    Add Evidence
                </button>
            </div>
        </div>
    </div>
    <ro-more-support 
        *ngIf="point.supports && point.viewAll"
        [supports]="point.supports.slice(1)"></ro-more-support>
    <ro-add-support
        *ngIf="point.supports && point.addEvidence"
        [pointId]="point._id"
        [pointIndex]="i"></ro-add-support>
    <hr>
</div>