<ro-create-point-form *ngIf="showForm" (added)="showForm = !showForm; ngOnInit()">
</ro-create-point-form>
<hr/>
<h1 class="text-center" *ngIf="points && points.length === 0 && !showForm">
    <h2>This section has no points:</h2>
    <button class="btn btn-lg btn-success" (click)="showForm = true">
        ADD A {{type | uppercase}}!!!
    </button>
</h1>
<div [attr.id]="'point' + i" *ngFor="#point of points | roFilter: searchText; #i = index" class="point">
    <div class="row">
        <div class="col-xs-6 main-point-block text-center">
            <ro-main-point
                [point]="point"
                (removed)="ngOnInit()">
            </ro-main-point>
        </div>
        <div class="col-xs-6 top-supports">
            <ro-top-support
                *ngIf="point.supports && point.supports.length >0"
                [support]="point.supports[0]"
                [numMoreSupport]="point.supports.length - 1"
                [showingMore]="point.viewAll"
                (addEvidence)="addEvidence(i)"
                (viewAll)="viewAll(i)"
                (removed)="removeSupport(i,0)"
                (goTop)="smoothScroll('point'+i, 20)">
            </ro-top-support>
            <!-- To show if no supports data has been searched for -->
            <div *ngIf="!point.supports" class="text-center">
                <br><br>
                <button 
                    type="button" 
                    class="btn btn-lg btn-default " 
                    (click)="getSupports(i, false)">
                    Get Supports
                </button>
            </div>
            <div *ngIf="point.supports && point.supports.length === 0">
                <h1 class="text-center">
                    <br/>
                    No Support
                    <hr/>
                    <button type="button" class="btn btn-lg btn-success" (click)="addEvidence(i); smoothScroll('point'+i, 20)">
                        Support this point
                    </button>
                </h1>
            </div>
        </div>
    </div>
    <hr>
    <ro-more-support
        *ngIf="point.supports && point.viewAll"
        [supports]="point.supports.slice(1)"
        (removed)="removeSupport(i,$event)"
        (goTop)="smoothScroll('point'+i, 20)">
    </ro-more-support>
    <ro-add-support
        *ngIf="point.supports && point.addEvidence"
        [pointId]="point._id"
        [pointIndex]="i"
        [issueId]="issueId"
        (added)="getSupports(i, true)">
    </ro-add-support>
</div>
