<div>
    <!-- Main Header -->
    <h2 class="text-center">
        SITE HEADER
    </h2>
    <h5 class="text-center">
        QUICK INSTRUCTION
    </h5>
    <!-- Tab Bar: Tab to issue list type -->
    <ul class="nav nav-tabs">
        <li role="presentation" class="active">
            <a href="#/Home/All">
                All
            </a>
        </li>
    </ul>
    <!-- Create and Search Buttons -->
    <br>
    <div class="row">
        <div class="col-md-2 text-center">
            <button class="btn btn-md btn-success" (click)="startQuestion = !startQuestion">
                Start New Question
            </button>
        </div>
        <div class="col-md-10">
            <div class="input-group">
                <div class="input-group-addon">Search</div>
                <input type="text" class="form-control" id="exampleInputAmount" [(ngModel)]="searchText">
            </div>
        </div>
    </div>
    <br>
    <ro-new-issue-form *ngIf="startQuestion" api="newQuestionApi" info="questionTemplate">
    </ro-new-issue-form>
    <!-- List out the isses of selected type -->
    <h1>{{searchText}}</h1>
    <ro-home-issue-list [searchText]="searchText"></ro-home-issue-list>
</div>
