<div id="HomeIssue" class="row supporting-evidence" *ngFor="#issue of issues | roFilter:searchText" [routerLink]="['Issue', {id: issue._id}]">
    <div class="col-xs-2">
        <ro-vote-cell></ro-vote-cell>
    </div>
    <div class="col-xs-10">
        <div class="row">
            <h3 class="text-center">
                {{issue.mainQuestion}}
            </h3>
        </div>
    </div>
    <button class="btn btn-md btn-danger deleteButton" (click)="deleteIssue(issue)"><i class="fa fa-close fa-2x"></i></button>
</div>