<div *ngIf="points">
    <!--
        Create and Search Buttons
    -->
    <div class="row">
        <div [ngClass]="{'col-md-10': !showForm,'col-md-12': showForm}">
            <div class="input-group">
                <div class="input-group-addon">
                    <span *ngIf="!showForm">Search</span>
                    <span *ngIf="showForm"><b>ENTER</b></span>
                </div>
                <input type="text" class="form-control" id="exampleInputAmount" [(ngModel)]="searchText" maxlength="150" />
            </div>
        </div>
        <div class="text-center col-md-2" *ngIf="!showForm">
            <button class="btn btn-md btn-success" (click)="showForm = true">
                Add a new claim
            </button>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-6">Yess</div>
        <div class="col-md-6">Nos</div>
    </div>
    <hr>
    <h1 class="text-center" *ngIf="points && points.length == 0 && !showForm">
        <h2>
            This section has no points:
        </h2>
        <button class="btn btn-lg btn-success" (click)="showForm = true">
            ADD A {{type | uppercase}}!!!
        </button>
    </h1>
    <div class="row">
        <div class="col-md-6">
            <div [attr.id]="'point' + i"
                 *ngFor="#point of points | roFilter: searchText; #i = index"
                 class="point"
            >
                <ro-main-point
                        *ngIf="point.point_type_id === 1 || point.point_type_id === 3"
                        [point]="point"
                        (removed)="removePoint(i)"
                        (smoothScroll)="smoothScroll('point'+i, 20)">
                </ro-main-point>
            </div>
        </div>
        <div class="col-md-6">
            <div [attr.id]="'point' + i"
                 *ngFor="#point of points | roFilter: searchText; #i = index"
                 class="point">
                <ro-main-point
                        *ngIf="point.point_type_id === 2 || point.point_type_id === 4"
                        [point]="point"
                        (removed)="removePoint(i)"
                        (smoothScroll)="smoothScroll('point'+i, 20)">
                </ro-main-point>
            </div>
        </div>
    </div>

</div>
<!--            MISC
    =========================== -->
<!-- Create Point Modal -->
<div class="ro-modal" *ngIf="showForm">
    <ro-create-point-form (cancel)="showForm = false" [searchText]="searchText">
    </ro-create-point-form>
    <!--<ro-add-support
            [pointId]="point._id"
            [pointIndex]="i"
            [questionId]="questionId"
            [mainPointTypeId]="type">
    </ro-add-support>-->
</div>
