<div>
    <div>
        <div *ngIf="!question.editQuestion || question.editQuestion === false">
            <div style="display: inline">   <h4 style="display: inherit; margin-right: 6px;" *ngFor="#tag of question.tags" ><span class="label label-info text center">{{tag.tag_name}}</span></h4></div> 
            <h2 class="text-center">
                {{question.title}} <span [hidden]="question.title !== ''">Loading main question</span>
            </h2>
            <h5 class="text-center">
                {{question.detail}}
            </h5> 
            <!-- <p class="text-center" *ngIf="question.owner_user_id !== ''">
                Created by {{question.owner_user_id}} on {{stringToDate(question.created_at)}}
            </p> -->
        </div>
        <ro-question-form
             *ngIf="question.editQuestion && question.editQuestion === true"
            [myQuestion]="question"
            [editMode]="true"
            (edited)="question.editQuestion = false">
        </ro-question-form>
        <div class="ro-action-bar pull-right">
            <ro-vote-cell
                class="ro-action-bar-item"
                [sourceId]="question._id"
                [score]="question.score"
                (modVote)="question.ups = question.ups + $event">
            </ro-vote-cell>
            <button class="ro-action-bar-item btn btn-sm btn-info" (click)="editQuestion(question, $event)" *ngIf="question.title && isOwner(question.owner_user_id) && !question.editQuestion || question.editQuestion === false">
                <i class="fa fa-edit">
                </i>
            </button>
            <button class="ro-action-bar-item btn btn-sm btn-danger" (click)="editQuestion(question, $event, true)" *ngIf="question.editQuestion && question.editQuestion === true">
                Cancel
            </button>
            <button class="ro-action-bar-item btn btn-sm btn-danger" (click)="deleteQuestion(question._id)" *ngIf="isOwner(question.owner_user_id) && !question.editQuestion">
                <i class="fa fa-close">
                </i>
            </button>
        </div>
    </div>
    <br>
    <!-- Tab Bar: Tab to question list type -->
    <ul class="nav nav-tabs">
        <li role="presentation" [ngClass]="{active: _type === 'yes'}">
            <a [routerLink]="['Question', {type: 
            'yes', id: _questionId}]">
                Yes
            </a>
        </li>
        <li role="presentation" [ngClass]="{active: _type === 'no'}">
            <a [routerLink]="['Question', {type: 
            'no', id: _questionId}]">
                NO
            </a>
        </li>
    </ul>
    <input type="radio" id="end-tut" name="tut">
    <input type="radio" id="step-4-question-intro" name="tut">
    <input type="radio" id="step-5-mainPoints" name="tut">
    <input type="radio" id="step-6-supports" name="tut">
    <div class="ro-modal">
        <label for="end-tut" id="ModalClose">
            <a class="btn btn-default">Close</a>
        </label>
        <div id="step-4-modal-container">
            <h3 class="text-center">The questions page!</h3>
            <p class="text-center">
                Every main question has its own page which currently consists of:
            </p>
            <ul>
                <li>
                    A yes/no selector
                </li>
                <li>
                    Main Points
                </li>
                <li>
                    Support Points
                </li>
            </ul>
            <div class="text-center">
                <label for="step-5-mainPoints">
                    <a class="btn btn-info">Ahh, Tell me more</a>
                </label>
            </div>
        </div>
        <div id="step-5-modal-container">
            <h1>Main Points</h1>
            <h3>Main points are </h3>
            <div class="text-center">
                <label for="step-6-supports">
                    <a class="btn btn-info">Ahh, Tell me more</a>
                </label>
            </div>
        </div>
        <div id="step-6-modal-container">
            <h1>Support Points</h1>
            <div class="text-center">
                <label for="end-tut">
                    <a class="btn btn-info" (click)="endTut()">Ahh, Tell me more</a>
                </label>
            </div>
        </div>
    </div>
    <ro-points-list
        [points]="question.points"></ro-points-list>
</div>
