<div id="ro-tag-cell">
    <h4 *ngFor="let tag of tags">
        <!-- SPAN NEEDED FOR BOOTSTRAP LABEL -->
        <span class="tag mt-btn-info text center">
            {{tag.tag_name}}
            <i *ngIf="editMode"
               class="fa fa-close text-danger"></i>
        </span>
    </h4>
    <button class="mt-btn mt-btn-sm mt-btn-info"
            (click)="editMode = true"
            *ngIf="!editMode && postType === 1">
        <i class="fa fa-edit"></i>
    </button>
    <br>
    <br>
    <div class="ro-modal" *ngIf="editMode">
        <button class="btn ro-btn-success ModalClose" (click)="editMode = false">
            Done
        </button>
        <ro-tags-form
                [type]="+1"
                [acceptedTags]="tags"
                [typeString]="'Tag'"
                [tagsFormHeader]="question"
                [singlesMode]="true"></ro-tags-form>
    </div>
</div>
