<div class="form-group">
    <label for="description">
        Your question: *** YES or NO Questions only ***<br>
        Keep issues one sided, support for comparisons may be added in the future. <br>
        GOOD EX: Should we legalize weed? <br>
        BAD EX: What is better, windows server or linux server?
    </label>
    <input
        class="form-control" maxlength="150"
        placeholder="In as few of words as possible, what would you like to know? Max 150 characters"
        [(ngModel)]="issue.title">
</div>
<div class="row">
    <div class="col-xs-10">
       <div class="form-group">
		    <label for="description">
		          *** OPTIONAL *** Add a description
		    </label>
		    <input class="form-control"  maxlength="200" placeholder="max 400 characters" [(ngModel)]="issue.detail">
	    </div>
    </div>
    <div class="col-xs-2">
    	<br>
        <button class="btn btn-md btn-info" (click)="onUpdate()" *ngIf="editMode">
            Save
        </button>
        <button class="btn btn-md btn-info" (click)="onCreate()" *ngIf="!editMode">
            Post Question
        </button>
    </div>
</div>
