.more-support-container{
	display: table;
	.left-column{
		display: table-cell;
		float: none;
		border-right: 50px double #DDDDDD; 
		height: 100%; 
		padding: 0;
	}
	.right-column{
		display: table-cell;
		float: none;
	}
}