<div *ngIf="points">
    <div class="row">
        <div class="col col-md-10">
            <div class="input-group">
                <div class="input-group-addon">
                    Filter
                </div>
                <input type="text"
                       class="form-control"
                       id="exampleInputAmount"
                       placeholder="{{pointsTypeText}}s"
                       [(ngModel)]="searchText"
                       maxlength="150"/>
            </div>
        </div>
        <div class="text-center col col-md-2">
            <button class="mt-btn mt-btn-success"
                    (click)="showForm = true">
                Add a new {{pointsTypeText}}
            </button>
        </div>
    </div> <!--Create point button and search points bar-->
    <div class="row"
         *ngIf="!stackedMode">
        <div class="col col-md-6">
            <div [attr.id]="'point' + i"
                 *ngFor="#point of points | roFilter: searchText; #i = index"
                 class="point"
            >

                <mt-post [post]="point"
                         *ngIf="point.point_type_id === 1 || point.point_type_id === 3"></mt-post>
                <!--<ro-main-point
                        *ngIf="point.point_type_id === 1"
                        [point]="point"
                        (removed)="removePoint(i)">
                </ro-main-point>-->
                <!--<ro-support-point
                        *ngIf="point.point_type_id === 3"
                        [support]="point"
                        (removed)="removePoint(i)">
                </ro-support-point>-->
            </div> <!--  Looping through yess -->
        </div>
        <div class="col col-md-6">
            <div [attr.id]="'point' + i"
                 *ngFor="#point of points | roFilter: searchText; #i = index"
                 class="point">
                <mt-post [post]="point"
                         *ngIf="point.point_type_id === 2 || point.point_type_id === 4"></mt-post>
                <!--<ro-main-point
                        *ngIf="point.point_type_id === 2"
                        [point]="point"
                        (removed)="removePoint(i)">
                </ro-main-point>
                <ro-support-point
                        *ngIf="point.point_type_id === 4"
                        [support]="point"
                        (removed)="removePoint(i)">
                </ro-support-point>-->
            </div> <!-- Looping through for nos -->
        </div>
    </div>
    <!--THIS WAS JUST A TEST OF A DIFFERENT TYPE OF SORTING-->
    <div *ngIf="stackedMode" class="row">
        <div class="col col-md-6 offset-md-3"><div [attr.id]="'point' + i"
             *ngFor="#point of points | roFilter: searchText; #i = index"
             class="point"
        >
            <mt-post [post]="point"></mt-post>
            <!--<ro-main-point
                    *ngIf="point.point_type_id === 1 || point.point_type_id === 2"
                    [point]="point"
                    (removed)="removePoint(i)">
            </ro-main-point>-->
            <ro-support-point
                    *ngIf="point.point_type_id === 3 || point.point_type_id === 4"
                    [support]="point"
                    (removed)="removePoint(i)">
            </ro-support-point>
        </div></div>
    </div>
    <!-- Looping through for nos--><!--
        Looping though all of the points given
        - Must loop through twice for both yess and nos
            * Not sure of a better way right now.
            * Optimally would like to only have to loop once
    -->
    <h1 class="text-center"
        *ngIf="points && points.length == 0 && !showForm">
        <h2>
            This question has no {{pointsTypeText}}s:
        </h2>
        <button class="btn btn-lg ro-btn-success"
                (click)="showForm = true">
            ADD A {{pointsTypeText | uppercase}}!!!
        </button>
    </h1> <!-- If there are are no points to show for the question-->
</div>
<!--            MISC
    =========================== -->
<!-- Create Point Modal -->
<div class="ro-modal"
     *ngIf="showForm && questionType === 1">
    <ro-create-point-form (added)="showForm = false; points.unshift($event);"
                          (cancel)="showForm = false"
                          [searchText]="searchText">
    </ro-create-point-form>
</div>
<div class="ro-modal"
     *ngIf="showForm && questionType !== 1">
    <ro-add-support (added)="showForm = false; points.unshift($event);"
                    (cancel)="showForm = false">
    </ro-add-support>
</div>
