<form class="row" (ngSubmit)="createSupport()">
    <div class="col-xs-6">
    </div>
    <div class="col-xs-6">
        <div id="Step1" *ngIf="newSupport.source_type_id === null">
            <div class="text-center">
                <h5>
                    Source Type
                </h5>
            </div>
            <hr/>
            <div class="row">
                <div class="col-xs-4">
                    <div class="checkbox  text-center">
                        <label>
                            <input type="radio" (click)="setSourceType(1)" name="source_type" required/>
                            Meta Analysis
                        </label>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="checkbox  text-center">
                        <label>
                            Credible
                            <input type="radio" (click)="setSourceType(2)" name="source_type"/>
                        </label>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="checkbox  text-center">
                        <label>
                            Website/Blog
                            <input type="radio" (click)="setSourceType(3)" name="source_type"/>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <div class="checkbox  text-center">
                        <label>
                            <input type="radio" (click)="setSourceType(4)" name="source_type"/>
                            TV Media <br> (CNN, FOX, HUFFINGTON, etc)
                        </label>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="checkbox  text-center">
                        <label>
                            Personal Opinion
                            <input type="radio" (click)="setSourceType(5)" name="source_type"/>
                        </label>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="checkbox  text-center">
                        <label>
                            Other
                            <input type="radio" (click)="setSourceType(6)" name="source_type"/>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div  id="Step1"  *ngIf="newSupport.source_type_id !== null">
            <textarea
                class="form-control"
                rows="3"
                style="resize: none;"
                minlength="20"
                maxlength="150"
                placeholder="State what your evidence shows. Max 150 Characters"
                [(ngModel)]="newSupport.title"
                required>
            </textarea>
            <br/>
            <div class="form-group"  *ngIf="showSource">
                <label for="source">
                    Source (Only 1)
                </label>
                <input type="text" name="source" class="form-control" placeholder="http://" pattern="https?://.+" title="Include http://" [(ngModel)]="newSupport.source" required/>
            </div>
            <textarea 
                *ngIf="!showSource"
                class="form-control"
                rows="5"
                style="resize: none;"
                maxlength="600"
                placeholder="Please describe the thought process behind your opinion. Max 600 Characters"
                [(ngModel)]="newSupport.detail">
            </textarea>
            <br/>
            <div  id="Step3">
                <button class="btn btn-sm btn-success" (click)="newSupport.source_type_id = null;">
                    Cancel
                </button>
                <button type="submit" class="btn btn-sm btn-success" (click)="newSupport.point_type_id = 3;">
                    Add as Proof
                </button>
                <button type="submit" class="btn btn-sm btn-danger" (click)="newSupport.point_type_id = 4;">
                    Add as Disproof
                </button>
            </div>
        </div>
    </div>
</form>
