<div class="form-group">
    <label for="title">
        Your question
    </label>
    <input
            id="title"
            class="form-control"
            maxlength="150"
            placeholder="In as few of words as possible, what would you like to know? Max 150 characters"
            [(ngModel)]="question.title">
</div>
<div class="row">
    <div class="col-xs-10">
        <div class="form-group">
            <label for="detail">
                *** OPTIONAL *** Add a description
            </label>
            <input id="detail"
                   class="form-control"
                   maxlength="200"
                   placeholder="max 400 characters"
                   [(ngModel)]="question.detail">
        </div>
    </div>
    <div class="col-xs-2">
        <br>
        <button class="mt-btn mt-btn-success"
                (click)="onUpdate()"
                *ngIf="editMode">
            Save
        </button>
        <button class="mt-btn mt-btn-success"
                (click)="onCreate()"
                *ngIf="!editMode">
            Post Question
        </button>
    </div>
</div>
