<div id="MoreSupport" class="row supporting-evidence">
    <hr ng-if="index>0">
    <div class="row">
        <div class="col-xs-12">
            <u>Support</u>: {{info.evidence}}
            <div class="row">
                <div class="col-xs-8" style="text-overflow: ellipsis; overflow: hidden;">
                    <u>Sources</u>
                    <ul>
                        <li ng-repeat="source in info.sources">
                            <a ng-href="{{source}}">{{source}}</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-4">
                    <span ng-if="info.tags.metaData" class="label label-success">metaData</span>
                    <span ng-if="info.tags.credible" class="label label-success">credible</span>
                    <span ng-if="info.tags.media" class="label label-warning">media</span>
                    <span ng-if="info.tags.opinion" class="label label-danger">opinion</span>
                </div>
            </div>
            <div class="row" style="display:inline-block; vertical-align: middle;">
                <button type="button" class="btn btn-xs btn-info" ng-click="api.toggleMoreSupport(parentIndex)" ng-if="index == 0">
                    View All
                </button>
                <button type="button" class="btn btn-xs btn-info" ng-if="index == 0" ng-click="api.toggleSupportForm(parentIndex)">
                    Add Evidence
                </button>
                <button type="button" class="btn btn-xs btn-danger" ng-click="api.removeSupport(pointId, info._id, parentIndex, index)">
                    <i class="fa fa-close"></i>
                </button>
            </div>
        </div>
    </div>
</div>