<div class="row supporting-evidence">
    <hr ng-if="index >0">
    <div class="row">
        <div class="col-xs-2">
            <h3 class="row  text-center" ng-click="voteSupport('ups')">
                <i class="glyphicon glyphicon-chevron-up">
                </i>
            </h3>
            <h3 class="row text-center">
                {{support.ups - support.downs}}
            </h3>
            <h3 class="row  text-center" ng-click="voteSupport('downs')">
                <i class="glyphicon glyphicon-chevron-down">
                </i>
            </h3>
        </div>
        <div class="col-xs-10">
            <u>
                <h4 ng-if="index == 0">TOP SUPPORT</h4>
                <h4 ng-if="index > 0">Support</h4>
            </u>
            <h4>{{support.evidence}}</h4>
            <div class="row">
                <div class="col-xs-8" style="text-overflow: ellipsis; overflow: hidden;">
                    <u>
                        <h4>Sources</h4>
                    </u>
                    <ul>
                        <li>
                            <a ng-href="{{support.source}}">
                                <h4>{{support.source}}</h4>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-4">
                    <span ng-if="support.tags.metaData" class="label label-success">
                        metaData
                    </span>
                    <span ng-if="support.tags.credible" class="label label-success">
                        credible
                    </span>
                    <span ng-if="support.tags.media" class="label label-warning">
                        media
                    </span>
                    <span ng-if="support.tags.opinion" class="label label-danger">
                        opinion
                    </span>
                </div>
            </div>
            <div class="row" style="display:inline-block; vertical-align: middle;">
                <button type="button" class="btn btn-xs btn-danger" ng-click="api.removeSupport(support._id, parentIndex, index)">
                    <i class="fa fa-close">
                    </i>
                </button>
                <button type="button" class="btn btn-xs btn-info" ng-click="api.toggleMoreSupport(parentIndex)" ng-if="index == 0">
                    View All
                </button>
                <button type="button" class="btn btn-xs btn-info" ng-if="index == 0" ng-click="api.toggleSupportForm(parentIndex)">
                    Add Evidence
                </button>
            </div>
        </div>
    </div>
</div>
