<style>
    .no-show {
    display: none;
    }
    .show {
    display: initial;
    }
</style>
<!--
    Tab Bar: Tab to Pros/Cons
-->
<ul class="nav nav-tabs">
    <li role="presentation" class="active">
        <a ng-href="#/Issue/{{issueData._id}}/Pros">
            Pros
        </a>
    </li>
    <li role="presentation">
        <a ng-href="#/Issue/{{issueData._id}}/Cons">
            Cons
        </a>
    </li>
</ul>
<!--
    Create and Search Buttons
-->
<br/>
<div class="row">
    <div class="col-xs-2">
        <button class="btn btn-md btn-success" ng-click="addPoint = !addPoint">
            Add a new pro
        </button>
    </div>
    <div class="col-xs-8">
        <div class="input-group">
            <div class="input-group-addon">
                Search
            </div>
            <input type="text" class="form-control" id="exampleInputAmount" ng-model="searchText"/>
        </div>
    </div>
</div>
<!--
    Add new main point
-->
<new-data-form
    ng-show="addPoint"
    api="prosCtrlApi"
    form-type="main"
    point-type="pro">
</new-data-form>
<!--
    Display Issues
-->
<br/>
<div ng-repeat="pro in pros | filter: searchText" style="position: relative;">
    <div ng-attr-id="{{ 'pro' + $index }}" class="row" style="position: relative; padding-right: 4em;">
        <button
            class="btn btn-sm btn-danger"
            ng-click="deletePoint(pro._id)"
            style="position: absolute; bottom: 0; left: 0; margin: 10px; z-index: 2">
            <i class="fa fa-close">
            </i>
        </button>
        <!-- Main Problem Block -->
        <div class="col-xs-6 main-point-block">
            <main-point info="pro">
            </main-point>
        </div>
        <div class="col-xs-6" style="padding-left: 4em;">
            <!-- Top Answer -->
            <support-point
                ng-repeat="support in pro.support | orderBy:'-(ups-downs)'"
                ng-show="$index === 0"
                api="prosCtrlApi"
                info="support"
                pro="pro"
                index="{{$index}}"
                parent-index="{{$parent.$index}}"
                point-type="pro"
                point-id="{{pro._id}}">
            </support-point>
        </div>
    </div>
    <div ng-attr-id="{{ 'pro' + $index }}" class="row" style="padding-right: 4em;">
        <!-- Spacer -->
        <div class="col-xs-6">
        </div>
        <!-- Main Supporting Evidence of Block -->
        <div class="col-xs-6" style="padding-left: 4em;">
            <!-- Add Support form -->
            <new-data-form
                ng-attr-id="{{'supportForm'+$index}}"
                class="no-show"
                api="prosCtrlApi"
                index="{{$index}}"
                form-type="support"
                point-type="pro"
                point-id="{{pro._id}}">
            </new-data-form>
            <!-- Show More Support -->
            <div ng-attr-id="{{'moreSupport'+ $index}}" class="no-show">
                <support-point
                    ng-repeat="support in pro.support | orderBy:'-(ups-downs)'"
                    info="support"
                    api="prosCtrlApi"
                    ng-show="$index >0"
                    index="{{$index}}"
                    parent-index="{{$parent.$index}}"
                    point-type="pro"
                    point-id="{{pro._id}}">
                </support-point>
            </div>
        </div>
    </div>
    <hr/>
</div>
