.points{
	position: relative;
	.main-point {
		position: relative; 
		padding-right: 4em;
	}
	.top-support{
		padding-left: 4em;
	}
	.more-support-rows{
		padding-right: 4em;
	}
	.more-support-points{
		padding-left: 4em;
	}
}