<span *ngIf="!undoVoteMode">Vote! {{whyVoteText}}: </span> <br>
<span class="vote-cell"
     *ngIf="!undoVoteMode">
    <button class="upvote-btn btn btn-sm"
            (click)="vote(1, $event)"
            [ngClass]="{'ro-btn-info': upVoted, 'ro-btn-secondary': !upVoted}">
        <span>
            <i *ngIf="upVoted"
               class="glyphicon glyphicon-ok"></i> {{upvoteText}}
        </span>
        <span class="score">
            {{score}}
        </span>
    </button>
    <button class="downvote-btn btn btn-sm"
            (click)="vote(2, $event)"
            style="display: inherit;"
            [ngClass]="{'ro-btn-info': downVoted, 'ro-btn-secondary': !downVoted}">
        <span>
            <i *ngIf="downVoted"
               class="glyphicon glyphicon-ok"></i> {{downvoteText}}
        </span>
    </button>
</span>

<h5 class="text-center"
    *ngIf="undoVoteMode">
    <button class="btn btn-warning btn-sm"
            (click)="vote(2, $event)">
        UNDO
    </button>
</h5>