@import './variables';
.more-support-container{
	display: table;
	.left-column{
		display: table-cell;
		float: none;
		border-right: 50px double #DDDDDD; 
		height: 100%; 
		padding: 0;
	}
	.right-column{
		display: table-cell;
		float: none;
	}
}
// Colors of labels
.meta {
	background-color: $brand-success;
}
.credible {
	background-color: $brand-success;
}
.web {
	background-color: $brand-warning;

}
.opinion {
	background-color: $brand-warning;
}
.media {
	background-color: $brand-danger;

}
.other {
	background-color: $brand-primary;
}
.proof{
	background-color: $brand-success;
}
.disproof{
	background-color: $brand-danger;
}