#TagsForm
	#HeaderQuestion
		position: fixed
		z-index: 10
		top: 10%
		left: 50%
		transform: translate(-50%, -50%)
		transition: transform 1s cubic-bezier(0.68, -0.55, 0.27, 1.55)
		font-size: 3.5em
		font-weight: 100
		color: #fff
		padding: 20px
		background-color: rgba(0,0,0,0.7)
		border-radius: 10px
	#TagsContainer
		position: fixed
		z-index: 8
		width: 90%
		left: 50%
		top: 20%
		height: 100%
		transform: translate(-50%,0)
		transition: transform 1s cubic-bezier(0.68, -0.55, 0.27, 1.55)
		background-color: rgba(255,255,255,0.8)
		padding: 20px
		border-radius: 10px
		#SearchTagsContainer
			float: left
			width: 50%
			padding: 10px
		#AcceptedTagsContainer
			float: left
			width: 50%
			padding: 10px
	#PostQuestion
		position: fixed
		z-index: 11
		top: 80%
		left: 50%
		transform: translate(-50%,0)
		font-size: 5em
		font-weight: 100