<div>
    <div>
        <div *ngIf="!issue.editIssue || issue.editIssue === false">
            <h2 class="text-center">
                {{issue.title}} <span [hidden]="issue.title !== ''">Loading main question</span>
            </h2>
            <h5 class="text-center">
                {{issue.detail}}
            </h5>      
            <!-- <p class="text-center" *ngIf="issue.owner_user_id !== ''">
                Created by {{issue.owner_user_id}} on {{stringToDate(issue.created_at)}}
            </p> -->
        </div>
        <ro-issue-form
             *ngIf="issue.editIssue && issue.editIssue === true"
            [myIssue]="issue"
            [editMode]="true"
            (edited)="issue.editIssue = false">
        </ro-issue-form>
        <div class="ro-action-bar pull-right">
            <ro-vote-cell
                class="ro-action-bar-item"
                [sourceType]="'issue'"
                [sourceId]="issue._id"
                [score]="issue.ups - issue.downs"
                (upVoted)="issue.ups=issue.ups+1"
                (downVoted)="issue.downs=issue.downs+1">
            </ro-vote-cell>
            <button class="ro-action-bar-item btn btn-sm btn-info" (click)="editIssue(issue, $event)" *ngIf="issue.title && !issue.editIssue || issue.editIssue === false">
                <i class="fa fa-edit">
                </i>
            </button>
            <button class="ro-action-bar-item btn btn-sm btn-danger" (click)="editIssue(issue, $event, true)" *ngIf="issue.editIssue && issue.editIssue === true">
                Cancel
            </button>
            <button class="ro-action-bar-item btn btn-sm btn-danger" (click)="deleteIssue(issue._id)" *ngIf="isOwner(issue.owner_user_id)">
                <i class="fa fa-close">
                </i>
            </button>
        </div>
    </div>
    <br>
    <!-- Tab Bar: Tab to issue list type -->
    <ul class="nav nav-tabs">
        <li role="presentation" [ngClass]="{active: _type === 'yes'}">
            <a [routerLink]="['Issue', {type: 
            'yes', id: _issueId}]">
                Yes
            </a>
        </li>
        <li role="presentation" [ngClass]="{active: _type === 'no'}">
            <a [routerLink]="['Issue', {type: 
            'no', id: _issueId}]">
                NO
            </a>
        </li>
    </ul>
    <ro-points-list
        [points]="issue.points"></ro-points-list>
</div>
