<div>
    <div class="row">
        <ro-vote-cell
            style="position: absolute; left:0px; margin-left: 3em;"
            class="pull-left"
            [sourceType]="'issue'"
            [sourceId]="issue._id"
            [score]="issue.ups - issue.downs"
            (upVoted)="issue.ups=issue.ups+1"
            (downVoted)="issue.downs=issue.downs+1">
        </ro-vote-cell>
        <h2 class="text-center">
            {{issue.mainQuestion}} <span [hidden]="issue.mainQuestion !== ''">Loading main question</span>
        </h2>
        <h5 class="text-center">
            {{issue.questionDetail}}
        </h5>
    </div>
    <!-- Tab Bar: Tab to issue list type -->
    <ul class="nav nav-tabs">
        <li role="presentation" [ngClass]="{active: _type === 'yes'}">
            <a [routerLink]="['Issue', {type: 
            'yes', id: _issueId}]">
                Yes
            </a>
        </li>
        <li role="presentation" [ngClass]="{active: _type === 'no'}">
            <a [routerLink]="['Issue', {type: 
            'no', id: _issueId}]">
                NO
            </a>
        </li>
    </ul>
    <ro-points-list></ro-points-list>
</div>
