<div class="ro-point ro-main-point">
    <div class="ro-contents" *ngIf="!point.editPoint || point.editPoint === false">
        <h4 class="text-center" style="padding-left: 10px;">
            {{point.title}}
        </h4>
        <p style="text-align: left; padding-left: 10px;">
            {{point.detail}}
        </p>
    </div>
    <!-- *ngIf="point.editPoint && point.editPoint === true" -->
    <ro-edit-point
        *ngIf="point.editPoint && point.editPoint === true"
        [myPoint]="point"
        (edited)="point.editPoint = false"
        (canceled)="point.editPoint = false">
    </ro-edit-point>
    <div class="ro-action-bar ro-bar-left">
        <ro-vote-cell
            class="ro-action-bar-item"
            [sourceId]="point._id"
            [score]="point.score"
            (modVote)="point.ups=point.ups+$event">
        </ro-vote-cell>
        <button
            *ngIf="isOwner(point.owner_user_id) && !point.editPoint || point.editPoint === false"
            class="btn btn-sm btn-danger ro-action-bar-item"
            (click)="deletePoint()">
            <i class="fa fa-close">
            </i>
        </button>
        <button class="ro-action-bar-item btn btn-sm btn-info" (click)="editPoint(point, $event);" *ngIf="isOwner(point.owner_user_id)">
            <i class="fa fa-edit">
            </i>
        </button>
    </div>
</div>
