<div id="QuestionContainer" *ngIf="questionAvailable">
    <div>
        <div *ngIf="!question.editQuestion || question.editQuestion === false">
            <div style="display: inline">   <h4 style="display: inherit; margin-right: 6px;" *ngFor="#tag of question.tags" ><span class="label label-info text center">{{tag.tag_name}}</span></h4></div> 
            <h2 class="text-center" id="QuestionHeader">
                {{question.title}} <span [hidden]="question.title !== ''">Loading main question</span>
            </h2>
            <h5 class="text-center">
                {{question.detail}}
            </h5> 
            <!-- <p class="text-center" *ngIf="question.owner_user_id !== ''">
                Created by {{question.owner_user_id}} on {{stringToDate(question.created_at)}}
            </p> -->
        </div>
        <ro-edit-question-form
             *ngIf="question.editQuestion && question.editQuestion === true"
            [myQuestion]="question"
            [editMode]="true"
            (edited)="question.editQuestion = false">
        </ro-edit-question-form>
        <div class="ro-action-bar pull-right">
            <ro-vote-cell
                class="ro-action-bar-item"
                [sourceId]="question._id"
                [score]="question.score"
                (modVote)="question.ups = question.ups + $event">
            </ro-vote-cell>
            <button class="ro-action-bar-item btn btn-sm btn-info" (click)="editQuestion(question, $event)" *ngIf="question.title && isOwner(question.owner_user_id) && !question.editQuestion || question.editQuestion === false">
                <i class="fa fa-edit">
                </i>
            </button>
            <button class="ro-action-bar-item btn btn-sm btn-danger" (click)="editQuestion(question, $event, true)" *ngIf="question.editQuestion && question.editQuestion === true">
                Cancel
            </button>
            <button class="ro-action-bar-item btn btn-sm btn-danger" (click)="deleteQuestion(question._id)" *ngIf="isOwner(question.owner_user_id) && !question.editQuestion">
                <i class="fa fa-close">
                </i>
            </button>
        </div>
    </div>
    <br>
    <!-- Tab Bar: Tab to question list type -->
    <ul class="nav nav-tabs">
        <li role="presentation" [ngClass]="{active: _type === 'yes'}">
            <a [routerLink]="['Question', {type: 
            'yes', id: _questionId}]">
                Yes
            </a>
        </li>
        <li role="presentation" [ngClass]="{active: _type === 'no'}">
            <a [routerLink]="['Question', {type: 
            'no', id: _questionId}]">
                NO
            </a>
        </li>
    </ul>
    <ro-points-list
        [points]="question.points" [dataAvailable]="questionAvailable"></ro-points-list>
</div>
