<div class="mt-post"
     [ngClass]="'point-type-' + post.point_type_id">
    <div class="mt-post-contents"
         *ngIf="!post.editPoint || post.editPoint === false">
        <h2><a (click)="goToQuestion(post._id)"><span class="mt-post-pre-title-text"></span>{{post.title}}</a>
        </h2>
        <h3>{{post.detail}}</h3>
        <div *ngIf="post.source !== null">
            <h4 class="source-link">
                <u>Source</u>:
                <a [href]="post.source"
                   target="_blank">
                    {{post.source}}
                </a>
            </h4>
            <h4>
                <span class="tag"
                      [ngClass]="'support-source-type-' + post.source_type_id"></span>
                <span class="tag"
                      [ngClass]="'support-point-type-' + post.point_type_id"></span>
            </h4>
        </div>
        <ul class="owner-controls">
            <li *ngIf="post.post_type_id !== 1">
                <button
                        *ngIf="isOwner(post.owner_user_id) && !post.editPoint || post.editPoint === false"
                        class="mt-btn mt-btn-danger"
                        (click)="deletePoint()">
                    <i class="fa fa-close">
                    </i>
                </button>
            </li>
            <li *ngIf="post.post_type_id !== 1">
                <button
                        class="mt-btn mt-btn-info"
                        (click)="editPoint($event);"
                        *ngIf="isOwner(post.owner_user_id)">
                    <i class="fa fa-edit">
                    </i>
                </button>
            </li>
        </ul>
    </div>
    <ro-edit-point
            *ngIf="post.editPoint && post.editPoint === true"
            [myPoint]="post"
            (edited)="post.editPoint = false"
            (canceled)="post.editPoint = false">
    </ro-edit-point>
    <div class="mt-post-footer">
        <ul class="mt-action-bar">
            <mt-vote-cell
                    class="mt-action-bar-item"
                    [post]="post"
                    [sourceId]="post._id"
                    [score]="post.ups - post.dwns"
                    (modVote)="post.ups=post.ups+$event"
                    [upvoteText]="'helpful'"
                    [downvoteText]="'not helpful'"
                    [whyVoteText]="'If this were true, it would be'"
                    [upVoted]="post.upVoted"
                    [downVoted]="post.downVoted"
                    (didDownVote)="didDownVote()">
            </mt-vote-cell>
            <!--<li class="mt-action-bar-item">-->
            <!--<button class="mt-btn mt-btn-info stage-button">-->
            <!--Collecting Evidence-->
            <!--</button>-->
            <!--</li>-->
            <li class="mt-action-bar-item follow-cell pull-right">
                <mt-follow-button [postId]="post._id"></mt-follow-button>
            </li>
        </ul>
    </div>
</div>
