<button class="btn btn-default ModalClose" (click)="endTut()">
    Close
</button>
<div *ngIf="mode === 'question'">
    <h4 id="AlertMessage" class="text-center" *ngIf="alertString"  [ngClass]="{'ro-alert-warning': alertType === 'warning','ro-alert-success': alertType === 'success'}">
        {{ alertString }}
    </h4>
    <input type="text" id="QuestionInput" placeholder="Enter A debatable question" autofocus="true" (keyup)="questionControl()" [(ngModel)]="question"/>
    <div id="FinalizeZone" *ngIf="qComplete">
    	<!--<label>
            <input type="checkbox" [(ngModel)]="privQ">
            Make Private? (You can rank points yourself and only people with a link to your question can see it)
        </label><br>-->
    	<button class="btn btn-md btn-success" (click)="switchToTags()">Tag my question</button>
    </div>
</div>
<div *ngIf="mode === 'tags'">
	<ro-tags-form
		[type]="+1"
		[acceptedTags]="acceptedTags"
		[typeString]="'Tag'"
		[tagsFormHeader]="question"
		(goBack)="mode = 'question'"></ro-tags-form>
	<button id="PostQuestion" class="btn btn-lg btn-success" (click)="onCreate()">
		Post Question
	</button>
</div>
