<button class="btn btn-default ModalClose" (click)="endTut()">
    Close
</button>
<form *ngIf="mode === 'question'" (ngSubmit)="switchToTags()">
    <h4 id="AlertMessage" class="text-center" *ngIf="alertString"  [ngClass]="{'ro-alert-warning': alertType === 'warning','ro-alert-success': alertType === 'success'}">
        {{ alertString }}
    </h4>
    <input type="text" id="QuestionInput" placeholder="Enter A debatable question" autocomplete="off" autofocus="true" (keyup)="questionControl()" [(ngModel)]="question"/>
	<!--<label>
		<input type="checkbox" [(ngModel)]="privQ">
		Make Private? (You can rank points yourself and only people with a link to your question can see it)
	</label><br>-->
	<button type="submit" style="display: none"></button>
</form>
<div *ngIf="mode === 'tags'">
	<ro-tags-form
		[type]="+1"
		[acceptedTags]="acceptedTags"
		[typeString]="'Tag'"
		[tagsFormHeader]="question"
		(goBack)="mode = 'question'"></ro-tags-form>
	<button id="PostQuestion" class="btn btn-lg btn-success" (click)="onCreate()">
		Post Question
	</button>
</div>
