<div class="supporting-evidence">
    <div class="row">
        <!-- <div class="col-xs-1">
            <div class="row  text-center" ng-click="issue.ups = issue.ups+1">
                <i class="glyphicon glyphicon-chevron-up"></i>
            </div>
            <div class="row text-center">
                {{issue.ups - issue.downs}}
            </div>
            <div class="row  text-center" ng-click="issue.downs = issue.downs+1">
                <i class="glyphicon glyphicon-chevron-down"></i>
            </div>
        </div> -->
        <div class="col-xs-12">
            {{issue.problem}}
        </div>
    </div>
</div>