<div class="supporting-evidence">
    <div class="row">
        <!-- <div class="col-xs-1">
            <div class="row  text-center" ng-click="info.ups = info.ups+1">
                <i class="glyphicon glyphicon-chevron-up"></i>
            </div>
            <div class="row text-center">
                {{info.ups - info.downs}}
            </div>
            <div class="row  text-center" ng-click="info.downs = info.downs+1">
                <i class="glyphicon glyphicon-chevron-down"></i>
            </div>
        </div> -->
        <div class="col-xs-12">
            {{info.problem}}
        </div>
    </div>
</div>