<div id="Question-Header"
     *ngIf="!question.editQuestion || question.editQuestion === false">
    <mt-tag-cell
            [tags]="question.tags"
            [postType]="question.post_type_id"></mt-tag-cell>
    <h2 id="Question-Header-Title"
        class="text-center">
        <span *ngIf="question.post_type_id !== 1"><b>Is this valid?</b></span> {{question.title}}
        <span [hidden]="question.title !== ''">Loading main question</span>
    </h2>
    <h5 id="Question-Header-Detail"
        class="text-center">
        {{question.detail}}
    </h5>
    <!-- <p class="text-center" *ngIf="question.owner_user_id !== ''">
        Created by {{question.owner_user_id}} on {{stringToDate(question.created_at)}}
    </p> -->
</div>
<ro-edit-question-form
        *ngIf="question.editQuestion && question.editQuestion === true"
        [myQuestion]="question"
        [editMode]="true"
        (edited)="question.editQuestion = false">
</ro-edit-question-form>
<div class="question-edit-cell-container">
    <div class="question-edit-cell">
        <mt-vote-cell
                class="ro-action-bar-item"
                [post]="question"
                [sourceId]="question._id"
                [score]="question.ups - question.dwns"
                (modVote)="question.ups = question.ups + $event"
                [upvoteText]="(question.post_type_id === 1)? 'important': 'helpful'"
                [downvoteText]="(question.post_type_id === 1)? 'unimportant': 'not helpful'"
                [whyVoteText]="(question.post_type_id === 1)? 'This issue is': 'If this were true, it would be'"
                [upVoted]="question.upVoted"
                [downVoted]="question.downVoted">
        </mt-vote-cell>
        <button class="ro-action-bar-item mt-btn mt-btn-info"
                (click)="editQuestion($event)"
                *ngIf="question.title && isOwner(question.owner_user_id) && !question.editQuestion || question.editQuestion === false">
            <i class="fa fa-edit">
            </i>
        </button>
        <button class="ro-action-bar-item mt-btn mt-btn-danger"
                (click)="editQuestion($event, true)"
                *ngIf="question.editQuestion && question.editQuestion === true">
            Cancel
        </button>
        <button class="ro-action-bar-item  mt-btn mt-btn-danger"
                (click)="deleteQuestion(question._id)"
                *ngIf="isOwner(question.owner_user_id) && !question.editQuestion">
            <i class="fa fa-close">
            </i>
        </button>
        <mt-follow-button class="ro-action-bar-item"
                       [postId]="question._id"></mt-follow-button>
    </div>
    <br class="clear">
</div>