<!-- Create and Search Buttons -->
<br>
<div class="row">
    <div class="col-xs-2">
        <button class="btn btn-md btn-success" ng-click="startQuestion = !startQuestion">
            Start New Question
        </button>
    </div>
    <div class="col-xs-10">
        <div class="input-group">
            <div class="input-group-addon">Search</div>
            <input type="text" class="form-control" id="exampleInputAmount" ng-model="searchText">
        </div>
    </div>
</div>
<br>
<new-issue-form
	ng-show="startQuestion" 
    api="newQuestionApi" 
    info="questionTemplate">
</new-issue-form>
<home-issue
	ng-repeat="issue in issues | filter:searchText | orderBy:'-(ups-downs)'"
	issue="issue"
	index="{{$index}}"
	ui-sref="Issue.Pros({id: issue._id})"
    api="issueApi"
></home-issue>