<div>
    <button class="button button-block button-balanced" ng-click="getPhoto()">
        Add Item
    </button>
    <div class="list">
        <a class="item item-thumbnail-left item-icon-right padding-right" href="#"  ng-repeat="photo in photos" ng-click="viewImage($index)">
            <img ng-src="{{photo.src}}" style="width: auto; height: auto; min-width:50px;" alt="">
            <h2>{{photo.desc}}</h2>
            <h1>{{photo.quantity}}X</h1>
            <i style="font-size: 100px" class="icon ion-ios-close-empty assertive" ng-click="removeItem($index)"></i>
        </a>
    </div>
</div>