<section data-ng-controller="BountiesController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Bounty</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="row">
                    <div data-ng-show="error" class="text-center text-danger">
                        <div class="alert alert-danger" role="alert">
                            <strong data-ng-bind="error"></strong>
                        </div>
                    </div>
                    <div class="col-sm-6 text-center">
                        <i class="glyphicon glyphicon-user bounty-profile" 
                           ng-class="{'text-primary': bounty.referred, 'text-danger': !bounty.referred}"></i>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label" for="firstName">First Name</label>
                            <div class="controls">
                                <input type="text" data-ng-model="bounty.firstName" id="firstName" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="surname" required>Surname</label>
                            <div class="controls">
                                <input type="text" data-ng-model="bounty.surname" id="surname" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="suburb">Suburb</label>
                            <div class="controls">
                                <input type="text" data-ng-model="bounty.suburb" id="suburb" class="form-control">
                            </div>
                        </div> 
                        <div class="form-group">
                            <label class="control-label" for="country">Country</label>
                            <div class="controls">
                                <input type="text" data-ng-model="bounty.country" id="country" class="form-control">
                            </div>
                        </div>                       
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-push-6">
                        <div class="form-group">
                            <label class="control-label" for="phone">Phone</label>
                            <div class="controls">
                                <input type="text" data-ng-model="bounty.phone" id="phone" class="form-control">
                            </div>
                        </div> 
                        <div class="form-group">
                            <label class="control-label" for="email">Email</label>
                            <div class="controls">
                                <input type="text" data-ng-model="bounty.email" id="email" class="form-control">
                            </div>
                        </div> 
                    </div>
                    <div class="col-sm-6 col-sm-pull-6">
                        <div class="form-group">
                            <label class="control-label" for="referred">Referred</label>
                            <div class="controls">
                                <input type="checkbox" data-ng-model="bounty.referred" id="referred" class="form-control checkbox-style">
                            </div>
                        </div> 
                        <div class="form-group">
                            <label class="control-label" for="channel">Channel</label>
                            <div class="controls">
                                <select ng-model="bounty.channel" id="referred" class="form-control" ng-options="channelItem.item for channelItem in channelOptions">
                                    <option value="">--choose channel--</otion>    
                                </select>    
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label" for="industry">Industry</label>
                            <div class="controls">
                                <input type="text" data-ng-model="bounty.industry" id="industry" class="form-control">
                            </div>
                        </div> 
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="submit" value="Update" class="btn btn-default">
                        </div>
                        <div data-ng-show="error" class="text-danger">
                            <strong data-ng-bind="error"></strong>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</section>