<!--<span *ngIf="!undoVoteMode">Vote! {{whyVoteText}}: </span> <br>-->
<li class="action-bar-item vote-cell" *ngIf="!undoVoteMode">
    <button class="upvote-btn mt-btn" (click)="vote(1, $event)" [ngClass]="{'mt-btn-success': upVoted, 'mt-btn-default': !upVoted}">
        <i class="fa fa-check" *ngIf="upVoted"></i><span [ngClass]="'up-vote-text-post-type-' + post.post_type_id"></span><span class="score">{{score}}</span>
    </button>
</li>
<li class="action-bar-item vote-cell" *ngIf="!undoVoteMode">
    <button class="mt-btn" (click)="vote(2, $event)" [ngClass]="{'mt-btn-danger': downVoted, 'mt-btn-default': !downVoted}">
        <i class="fa fa-check" *ngIf="downVoted"></i><span [ngClass]="'down-vote-text-post-type-' + post.post_type_id"></span>
    </button>
</li>
<!--<span class="vote-cell"
     >
    <button class="upvote-btn btn btn-sm"
            (click)="vote(1, $event)"
            [ngClass]="{'ro-btn-info': upVoted, 'ro-btn-secondary': !upVoted}">
        <span>
            <i *ngIf="upVoted"
               class="glyphicon glyphicon-ok"></i> {{upvoteText}}
        </span>
        <span class="score">
            {{score}}
        </span>
    </button>
    <button class="downvote-btn btn btn-sm"
            (click)="vote(2, $event)"
            style="display: inherit;"
            [ngClass]="{'ro-btn-info': downVoted, 'ro-btn-secondary': !downVoted}">
        <span>
            <i *ngIf="downVoted"
               class="glyphicon glyphicon-ok"></i> {{downvoteText}}
        </span>
    </button>
</span>-->

<h5 class="text-center"
    *ngIf="undoVoteMode">
    <button class="btn btn-warning btn-sm"
            (click)="vote(2, $event)">
        UNDO
    </button>
</h5>