.ro-btn-success {
  //@extend .btn-success
}
.ro-btn-primary {
  //@extend .btn-primary
}
.ro-btn-secondary {
  //@extend .btn-secondary
}
.ro-btn-info {
  //@extend .btn-info
}
.mt-btn {
  border: 1px solid #ddd;
  border-radius: 2px;
  height: 35px;
  width: 70px;
  margin: auto 10px;
  font-size: 1.2em;
  outline: none;
}
.mt-btn-default {
  background-color: $mt-main-link-hover-font-color;
  color: $mt-dark-font-color;
}