<div class="row" style="margin-top: 10px; margin-bottom: 10px; display: table;" >
    <div class="hidden-md hidden-sm hidden-xs col-xs-3" style="background-color: #DDDDDD; height: 100%; border-radius: 5px 0 0 5px; float: none;
    display: table-cell;
    vertical-align: top;" (click)="gotoTop()">
            <h4 class="text-center" style="margin-top: 0; ">
                <br/>
                Go to top
            </h4>
    </div>
    <div class="col-xs-9" style="float: none;
    display: table-cell;
    vertical-align: top;">
        <div *ngFor="#support of supports; #i = index" class="supporting-evidence">
            <div [ngStyle]="{'background-color': (support.point_type === 'proof')? '#DFF0D8' : '#FCC4C4'}" style="padding: 15px; border-radius: 4px">
                <div class="row">
                    <div class="col-xs-12">
                        <h4>
                            <b>
                                {{support.point_type | uppercase}}:
                            </b>
                            {{support.title}}
                        </h4>
                        <p>{{support.detail}}</p>
                        <div class="row">
                            <div class="col-xs-8" *ngIf="support.source !== null">
                                <u>
                                    <h4>
                                        Source
                                    </h4>
                                </u>
                                <ul>
                                    <li>
                                        <a [href]="support.source"  target="_blank">
                                            <h4 style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">
                                                {{support.source}}
                                            </h4>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-4">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ro-action-bar">
                    <ro-vote-cell
                        class="ro-action-bar-item"
                        [sourceId]="support._id"
                        [score]="support.ups - support.dwns"
                        (modVote)="support.ups=support.ups+$event">
                    </ro-vote-cell>
                    <div class="ro-inline-items">
                        <h4 class="ro-action-bar-item">
                            <span class="label"[ngClass]="support.source_type">
                                {{support.source_type | uppercase}}
                            </span>
                        </h4>
                        <h4 class="ro-action-bar-item">
                            <span class="label" [ngClass]="support.point_type">
                                {{support.point_type | uppercase}}
                            </span>
                        </h4>
                        <button type="button" class="ro-action-bar-item btn btn-xs btn-danger" (click)="removeSupport(support._id, i)" *ngIf="isOwner(support.owner_user_id)">
                            <i class="fa fa-close">
                            </i>
                        </button>
                    </div>
                </div>
            </div>
            <hr/>
        </div>
    </div>
    <div class="clearfix visible-xs-block"></div>
</div>
