<form (ngSubmit)="login()">
    <h2>
        Please login
    </h2>
    <input [(ngModel)]="_user.email"
           autofocus=""
           class="form-control"
           name="email"
           placeholder="Email Address"
           required=""
           type="text"/>
    <input [(ngModel)]="_user.password"
           class="form-control"
           name="password"
           placeholder="Password"
           required=""
           type="password"/>
    <br>
    <button class="mt-btn mt-btn-info"
            type="submit">
        Login
    </button>
</form>