<ro-navbar></ro-navbar>
<div id="Home-Container">
    <div class="row">
        <mt-recently-viewed></mt-recently-viewed>
        <div class="col col-xl-3 hidden-lg-down">
            <div class="TopicsPane">
                <h3 class="text-center">
                    Quick Links
                </h3>
                <hr>
                <ul>
                    <li>
                        <a (click)="goTo([''])">Hot right now</a>
                    </li>
                    <li>
                        <a (click)="goTo(['/feed/top'])">All time top</a>
                    </li>
                    <li>
                        <a (click)="goTo(['/topic-feed/35/Controversial'])">All time top
                            controversial</a>
                    </li>
                </ul>
                <h4>
                    <u>Default locations selected by MetaTruth</u>
                </h4>
                <!-- THE DEFAULT LOCATIONS WILL ONLY WORK WITH THE -->
                <ul>
                    <li>
                        <a (click)="goTo(['/topic-feed/87/Nash County, NC'])">Nash County, NC</a>
                    </li>
                    <li>
                        <a (click)="goTo(['/topic-feed/85/Rocky Mount, NC'])">Rocky Mount, NC</a>
                    </li>
                    <li>
                        <a (click)="goTo(['/topic-feed/86/Nashville, NC'])">Nashville, NC</a>
                    </li>
                    <li>
                        <a (click)="goTo(['/topic-feed/88/Rocky Mount, NC'])">Nash Community College, NC</a>
                    </li>
                </ul>
                <h4>
                    <u>Your favorite places and topics</u>
                </h4>
                <favorites-cell (getQuestionSet)="goTo(['/topic-feed/', $event.tagId, $event.tagName])"></favorites-cell>
            </div>
        </div>
        <div class="col col-xl-6 col-lg-12"
             infinite-scroll
             [infiniteScrollDistance]="2"
             [infiniteScrollThrottle]="500"
             (scrolled)="loadMore()"
             *ngIf="questions !== undefined">
            <h5 id="Home-MainHeader">
                {{headerText}}
            </h5>
            <hr>
            <!-- List out the isses of selected type -->
            <ro-home-question-list
                    [searchText]="searchText"
                    [startQuestion]="startQuestion"
                    [questions]="questions"
                    [showInTut]="showQ_ToTut"
                    (cancel)="searchText='';startQuestion=!startQuestion;"
                    ></ro-home-question-list>
            <!-- Let the user know that nothing was found if they
                    search for a question and nothing was found -->
            <div *ngIf="needsMore">
                <h1 class="text-center">
                    :( This section could use more questions.
                </h1>
            </div>
        </div>
        <div class="col col-xl-3 hidden-lg-down">

        </div>
    </div>
</div>
<div style="height: 60vh"></div>
<!-- Custom Tab Bar: Tab to question list type -->
<!--  <ul class="ro-nav ro-nav-tabs">
     <li role="presentation" class="ro-tab active">
         <a href="#/Home/All">
             All
         </a>
     </li>
     <li role="presentation" class="ro-tab">
         <a href="#/Home/All">
             Tab 2
         </a>
     </li>
 </ul> -->
