<ro-navbar></ro-navbar>
<div id="Home-Container">
    <div class="row">
        <div class="col col-xl-3 hidden-lg-down">
            <div class="TopicsPane">
                <h3 class="text-center">
                    Quick Links
                </h3>
                <hr>
                <ul>
                    <li>
                        <a (click)="getHotRightNow()">Hot right now</a>
                    </li>
                    <li>
                        <a (click)="getAllTimeTop()">All time top</a>
                    </li>
                    <li>
                        <a (click)="getQuestionsByTag({tagId: 35, tagName: 'Controversial'})">All time top
                            controversial</a>
                    </li>
                </ul>
                <h4>
                    <u>Your favorite places and topics</u>
                </h4>
                <favorites-cell (getQuestionSet)="getQuestionsByTag($event)"></favorites-cell>
                <h4>
                    <u>Recently Viewed</u>
                </h4>
                <ul class="list-group">
                    <li class="list-group-item ro-link-container"
                        *ngFor="#recView of recentViewed"
                        (click)="goToQuestion(recView.id, recView.title)">
                        <a>{{recView.title}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col col-xl-6 col-lg-12">
            <h5 id="Home-MainHeader">
                {{headerText}}
            </h5>
            <hr>
            <!-- List out the isses of selected type -->
            <ro-home-question-list
                    [searchText]="searchText"
                    [startQuestion]="startQuestion"
                    [questions]="questions"
                    [showInTut]="showQ_ToTut"
                    (cancel)="searchText='';startQuestion=!startQuestion;"></ro-home-question-list>
            <!-- Let the user know that nothing was found if they
                    search for a question and nothing was found -->
            <div *ngIf="searchText !== '';">
                <hr>
                <h1 class="text-center">
                    Couldn't find an question?
                    <button class="btn btn-lg ro-btn-success"
                            (click)="startQuestion = !startQuestion">
                        ADD IT!!!
                    </button>
                </h1>
            </div>
        </div>
        <div class="col col-xl-3 hidden-lg-down">

        </div>
    </div>
</div>
<div style="height: 60vh"></div>
<!-- Custom Tab Bar: Tab to question list type -->
<!--  <ul class="ro-nav ro-nav-tabs">
     <li role="presentation" class="ro-tab active">
         <a href="#/Home/All">
             All
         </a>
     </li>
     <li role="presentation" class="ro-tab">
         <a href="#/Home/All">
             Tab 2
         </a>
     </li>
 </ul> -->
