#Question-Container
	#Question-Header-Title, #Question-Header-Detail
		font-weight: 200
	.ModesPane
		border: 1px solid #dddddd
		padding: 8px
		width: 200px
		position: fixed
		left: 85%
		h3
			font-weight: 200
		h4
			font-weight: 200
	.question-edit-cell-container
		display: block
		position: relative
		height: 4em
		width: 100%
		.question-edit-cell
			position: absolute
			right: 0
		.clear
			clear: both