<div id="Question-Container" *ngIf="questionAvailable">
    <div id="Question-Header" *ngIf="!question.editQuestion || question.editQuestion === false">
        <ro-tag-cell
            [tags]="question.tags"></ro-tag-cell>
        <h2 id="Question-Header-Title" class="text-center">
            <span *ngIf="question.post_type_id !== 1"><b>Is this valid?</b></span> {{question.title}} <span [hidden]="question.title !== ''">Loading main question</span>
        </h2>
        <h5 id="Question-Header-Detail" class="text-center">
            {{question.detail}}
        </h5> 
        <!-- <p class="text-center" *ngIf="question.owner_user_id !== ''">
            Created by {{question.owner_user_id}} on {{stringToDate(question.created_at)}}
        </p> -->
    </div>
    <ro-edit-question-form
         *ngIf="question.editQuestion && question.editQuestion === true"
        [myQuestion]="question"
        [editMode]="true"
        (edited)="question.editQuestion = false">
    </ro-edit-question-form>
    <div class="ro-action-bar pull-right">
        <ro-vote-cell
            class="ro-action-bar-item"
            [sourceId]="question._id"
            [score]="question.ups - question.dwns"
            (modVote)="question.ups = question.ups + $event">
        </ro-vote-cell>
        <button class="ro-action-bar-item btn btn-sm btn-info" (click)="editQuestion($event)" *ngIf="question.title && isOwner(question.owner_user_id) && !question.editQuestion || question.editQuestion === false">
            <i class="fa fa-edit">
            </i>
        </button>
        <button class="ro-action-bar-item btn btn-sm btn-danger" (click)="editQuestion($event, true)" *ngIf="question.editQuestion && question.editQuestion === true">
            Cancel
        </button>
        <button class="ro-action-bar-item btn btn-sm btn-danger" (click)="deleteQuestion(question._id)" *ngIf="isOwner(question.owner_user_id) && !question.editQuestion">
            <i class="fa fa-close">
            </i>
        </button>
    </div>
    <br>
    <!-- Tab Bar: Tab to question list type -->
        <!-- <ul class="nav nav-tabs">
            <li role="presentation" [ngClass]="{active: _type === 'yes'}">
                <a (click)="showPoints = question['yess']; _type = 'yes'">
                    Yes
                </a>
            </li>
            <li role="presentation" [ngClass]="{active: _type === 'no'}">
                <a (click)="showPoints = question['nos']; _type = 'no'">
                    NO
                </a>
            </li>
        </ul> -->
    <ro-points-list
        [points]="question.points"
        [questionType]="question.post_type_id"></ro-points-list>
</div>
