<ro-navbar></ro-navbar>
<div id="Question-Container"
     class="row">
    <div class="col col-md-2">
        <mt-recently-viewed></mt-recently-viewed>
    </div>
    <div
            class="col col-md-8"
            *ngIf="questionAvailable">
        <mt-question-header
            [question]="question"></mt-question-header>
        <ro-points-list
                [points]="question.points"
                [questionType]="question.post_type_id"
                [stackedMode]="stackedMode"></ro-points-list>
    </div>
    <div class="col col-md-2">
        <div class="ModesPane">
            <h3 class="text-center">
                Modes
            </h3>
            <hr>
            <h4>
                <u>Stacked</u>
            </h4>
            <div class="checkbox">
                <label><input type="checkbox"
                              [(ngModel)]="stackedMode">Most Helpful</label>
            </div>
        </div>
    </div>
</div>
<div style="height: 60vh"></div>